@model Client.Models.Configuration.StoreroomSetup.StoreroomSetupVM

<div class="m-subheader">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>

        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Configuration/Dashboard">&nbsp;</a></li>
                    <li><a href="/StoreroomSetup/Index?page=StoreroomSetup">@Model.Loc.Where(a => a.ResourceId == "spnStoreroomSearch").FirstOrDefault().Value.ToString()</a></li>
                    <li class="active CLientLookId">@Model.storeroomModel.Name</li>
                    @if (Model.storeroomModel.InactiveFlag == true)
                    {
                        <li>
                            <span style="background: red;padding: 3px 10px;border-radius: 10px;color: #fff;">@Model.Loc.Where(a => a.ResourceId == "globalInActive").FirstOrDefault().Value.ToString()</span>
                        </li>
                    }
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        
        <div style="clear:both;"></div>
    </div>
</div>

<div class="row">

    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet" id="m_portlet" style="padding:15px;">
                    <div class="bottomBlock">
                        <div class="tabsArea nobg" id="Overview" style="display:block;">
                            <ul class="listView">
                                    <li id="Sitename">
                                        <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnSiteGlobal").FirstOrDefault().Value.ToString() :</span>
                                        <span class="inputText Sitename">@Model.storeroomModel.SiteName</span>
                                    </li>
                                <li id="Name">
                                    <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString() :</span>
                                    <span class="inputText">@Model.storeroomModel.Name</span>
                                </li>
                                <li id="Description">
                                    <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString() : </span>
                                    <span class="inputText description-span" style="line-height:26px;">@Model.storeroomModel.Description</span>
                                    <div style="clear:both;"></div>
                                </li>
                                @*V2-671*@
                                <li id="InactiveFlag">
                                    <span class="label">@Model.Loc.Where(a => a.ResourceId == "globalInActive").FirstOrDefault().Value.ToString() :</span>
                                    <span class="inputText">
                                        @Html.CheckBoxFor(m => m.storeroomModel.InactiveFlag, new { @class = "form-control m-input", onclick = "return false;", @style = "color:black; width: auto; margin-top: 12px;" })
                                    </span>
                                </li>

                                @* Commented For V2-671 *@
                            </ul>
                            <div class="editBttn">
                                
                                    <button type="button" class="btn btn-blue" id="editstoreroom"><i class="fa fa-pencil" style="margin-top:-3px;"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalEdit").FirstOrDefault().Value.ToString()</button>
                                
                            </div>
                            <div style="clear:both;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(x => x.storeroomModel.StoreroomId)

