@model Client.Models.Configuration.StoreroomSetup.StoreroomSetupVM

<div class="m-subheader">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator breadcrumb-box">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>

        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Configuration/Dashboard">&nbsp;</a></li>
                    <li><a href="/StoreroomSetup/Index?page=StoreroomSetup">@Model.Loc.Where(a => a.ResourceId == "spnStoreroomSearch").FirstOrDefault().Value.ToString()</a></li>
                    @if (Model.storeroomModel.StoreroomId > 0 && Model.storeroomModel.IsAdd == false)
                    {
                        <li><a href="javascript:void(0)" id="brdStoreroom" data-val="@Model.storeroomModel.StoreroomId">@Model.storeroomModel.Name</a></li>
                        <li class="active">@Model.Loc.Where(a => a.ResourceId == "spnEditStoreroom").FirstOrDefault().Value.ToString() </li>
                    }
                    else
                    {
                <li class="active">@Model.Loc.Where(a => a.ResourceId == "spnAddStoreroom").FirstOrDefault().Value.ToString()</li>
                    }
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
@Html.Partial("_ErrorDiv")
@using (Ajax.BeginForm("SaveStoreroom", "StoreroomSetup", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnStoreroomAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div class="bottomBlock">
                    <div class="tabsArea nobg">
                        <ul class="listView nobrd">

                        
                            <li>
                                <span class="label">
                                    <label for="notesSiteName">@Model.Loc.Where(a => a.ResourceId == "spnSiteGlobal").FirstOrDefault().Value.ToString() :</label> <small>*</small>
                                </span>
                                <span class="inputText">
                                    @if (Model.storeroomModel.StoreroomId > 0 && Model.storeroomModel.IsAdd == false)
                                    {
                                        @Html.TextBoxFor(m => m.storeroomModel.SiteName, new { @class = "form-control search readonly", @readonly = "readonly", autocomplete = "off" })
                                    }
                                    else
                                    {
                                        @Html.ValidationMessageFor(m => m.storeroomModel.SiteId, "", new { style = "display:none" })
                                        @Html.DropDownListFor(m => m.storeroomModel.SiteId, Model.storeroomModel.SiteList, "--Select--", new { @class = "form-control search select2picker flt_fue", style = "width:100%;" })
                                    }
                                    </span>
                            </li>
                         
                            <li >
                                <span class="label">
                                    <label for="Name">@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString() </label> : <small>*</small>
                                </span>
                                <span class="inputText">

                                    
                                    @Html.ValidationMessageFor(m => m.storeroomModel.Name, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.storeroomModel.Name, new { @class = "form-control search", autocomplete = "off", maxlength = "15" })

                                    @*}*@
                                </span>
                            </li>
                            <li >
                                <span class="label">
                                    <label for="Description">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString() </label> : <small>*</small>
                                </span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.storeroomModel.Description, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.storeroomModel.Description, new { @class = "form-control search", autocomplete = "off", maxlength = "255" })
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="bttn_pagin">
                        <div class="bttns2">
                            @if (Model.storeroomModel.IsAdd == true)
                            {
                                <button class="btn btn-white mobBttn" name="Command" value="saveAdd" id="btnSaveAnotherOpenSR"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSaveAndAdd").FirstOrDefault().Value.ToString()</button>
                            }
                            <button type="submit" class="btn btn-blue mobBttn" name="Command" value="save"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                        </div>
                        <div class="bttns" id="btnCancelStoreroom"><button type="button" class="btn btn-blue mobBttn"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button></div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.storeroomModel.StoreroomId)
    @Html.HiddenFor(m => m.storeroomModel.IsAdd)
    @Html.HiddenFor(m => m.storeroomModel.UpdateIndex)

}


<style>
    .separator.breadcrumb-box {
        padding-right: 15px;
    }

   

    @@media (max-width: 500px) {
        .actionBar div.pull-left ul.filter_apply.globalFilterAdjusted {
            margin: 0px !important;
        }
    }

</style>