@model Client.Models.PersonnelVM

<nav id="sidebar">
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-header">
        <h3><i class="fa fa-filter" style="position: relative; top: -2px;"></i>&nbsp; @Model.Loc.Where(a => a.ResourceId == "globalFilter").FirstOrDefault().Value.ToString() <span id="spnControlCounter">0</span></h3>
        <button type="button" class="btn btn-blue filterSearch" id="btnPersonnelDataAdvSrch"> @Model.Loc.Where(a => a.ResourceId == "GlobalApply").FirstOrDefault().Value.ToString()</button>
    </div>
    <div class="sidebar-content" id="advsearchsidebarPersonnel">
        <form action="#" method="post">
            <div class="form-group">
                <label for="PersonnelID">@Model.Loc.Where(a => a.ResourceId == "spnPersonalID").FirstOrDefault().Value.ToString() </label>
                <input type="text" class="form-control search adv-item" id="PersonnelID" autocomplete="off" style="color:#333;">
            </div>
            <div class="form-group">
                <label for="Name" id="lblName">@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString() </label>
                <input type="text" class="form-control search adv-item" id="Name" autocomplete="off" style="color:#333;">
            </div>
            <div class="form-group">
                <label for="Shift" id="lblShift">@Model.Loc.Where(a => a.ResourceId == "spnShift").FirstOrDefault().Value.ToString() </label>               
                @Html.DropDownListFor(m => m.personnelModel.Shift, Model.personnelModel.ShiftList, "--Select--", new { @class = "form-control search adv-item select2picker", style = "width:100%;", id = "Shift" })
            </div>
            @*V2-1108 start*@
            <div class="form-group">
                <label for="AssignedAssetGroup1">@Model.Loc.Where(a => a.ResourceId == "spnAssigned").FirstOrDefault().Value.ToString() @Model.AssetGroup1Label </label>
                @Html.DropDownListFor(m => m.personnelModel.AssignedAssetGroup1, Model.AssetGroup1List, "--Select--", new { @class = "form-control search adv-item select2picker", style = "width:100%;", id = "AssignedAssetGroup1" })
            </div>
            <div class="form-group">
                <label for="AssignedAssetGroup2">@Model.Loc.Where(a => a.ResourceId == "spnAssigned").FirstOrDefault().Value.ToString() @Model.AssetGroup2Label </label>
                @Html.DropDownListFor(m => m.personnelModel.AssignedAssetGroup2, Model.AssetGroup2List, "--Select--", new { @class = "form-control search adv-item select2picker", style = "width:100%;", id = "AssignedAssetGroup2" })
            </div>
            <div class="form-group">
                <label for="AssignedAssetGroup3">@Model.Loc.Where(a => a.ResourceId == "spnAssigned").FirstOrDefault().Value.ToString() @Model.AssetGroup3Label </label>
                @Html.DropDownListFor(m => m.personnelModel.AssignedAssetGroup3, Model.AssetGroup3List, "--Select--", new { @class = "form-control search adv-item select2picker", style = "width:100%;", id = "AssignedAssetGroup3" })
            </div>
            @*V2-1108 end*@
        </form>
    </div>
</nav>
