@model Client.Models.PersonnelVM
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />

@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div class="m-subheader fixedDiv1">
        <div class="PageTitle">
            @*V2-1098*@
            <div class="align-items-center">
                <h3 class="m-subheader__title" style="padding:0;">
                    <span class="dropToggle" id="spnDropToggle">
                        <img src="~/Images/toggleMenu.png" />
                    </span>
                    <span style="line-height:35px;" id="personnelsearchtitle"></span>
                    <span>@Model.Loc.Where(a => a.ResourceId == "spnPersonnel").FirstOrDefault().Value.ToString()</span>
                </h3>
            </div>
            @*<div class="align-items-center">
                    <h3 class="m-subheader__title ">
                        @Model.Loc.Where(a => a.ResourceId == "spnPersonnel").FirstOrDefault().Value.ToString()
                    </h3>
                </div>*@
        </div>
    </div>
}
else
{
    <div class="m-subheader fixedDiv1 fixupperpannel2">
        <div class="PageTitle">
            @*V2-1098*@
            <div class="align-items-center">
                <h3 class="m-subheader__title" style="padding:0;">
                    <span class="dropToggle" id="spnDropToggle">
                        <img src="~/Images/toggleMenu.png" />
                    </span>
                    <span style="line-height:35px;" id="personnelsearchtitle"></span>
                    @Model.Loc.Where(a => a.ResourceId == "spnPersonnel").FirstOrDefault().Value.ToString()
                </h3>
            </div>

        </div>
    </div>
}
<div class="pushDiv1"></div>
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="actionBar" style="display:block" id="equipGridAction">
                <div class="pull-left" style="position:relative;">
                    <button type="button" class="btn btn-white navbar-btn" title="Search" id="personaltextsearch"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i> @Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white navbar-btn" id="sidebarCollapse" title="Advance Search"><i class="fa fa-filter" style="font-size: 1.3rem;"></i></button>
                    <div style="clear:both;"></div>
                    <div class="searchBttnDrop desktop" id="searchBttnNewDrop" style="display:none;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>
                        <div class="searchTips">
                            <div class="titleText">Search Tips</div>
                            @if (Model.Loc.Any(a => a.ResourceId == SearchTipsType.PersonnelSearchTips))
                            {
                                <div class="infoText">@Model.Loc.Where(a => a.ResourceId == SearchTipsType.PersonnelSearchTips).FirstOrDefault().Value.ToString()</div>
                            }
                            else
                            {
                                <div class="infoText">@Model.Loc.Where(a => a.ResourceId == "PersonnelSearchTips").FirstOrDefault().Value.ToString()</div>
                            }

                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent">@Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()</span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchList"></ul>
                            </div>
                            <span class="clear"><a href="javascript:void(0)" id="clearText">@Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()</a></span>
                            <div style="clear:both;"></div>
                        </div>

                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-white import-export" id="btnAssetExport" disabled onclick="funcShowExportbtn()">@Model.Loc.Where(a => a.ResourceId == "spnExport").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white" id="liCustomize" title="Customize" data-toggle="modal" data-target="#gridcolumncustomizemodal"><i class="fa fa-cog" style="font-size: 1.3rem;"></i></button>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div id="dvFilterSearchSelect2"></div>
                <div style="clear:both;"></div>
            </div>

            <div style="clear:both;"></div>

            <div id="Active" class="tabcontent" style="display:block;">
                <div class="table-responsive">
                    <table id="tblPersonnelSearch" class="eqpDtlTbl row-border custom-sort tblMain tblDefaultSort" style="width:100%;">
                        <thead>
                            <tr>
                                <th data-col="1" data-th-index="0">@Model.Loc.Where(a => a.ResourceId == "spnPersonalID").FirstOrDefault().Value.ToString()</th>
                                <th data-col="2" data-th-index="1">@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString()</th>
                                <th data-col="3" data-th-index="2">@Model.Loc.Where(a => a.ResourceId == "spnShift").FirstOrDefault().Value.ToString()</th>
                                <th data-col="4" data-th-index="3">@Model.Loc.Where(a => a.ResourceId == "spnCraft").FirstOrDefault().Value.ToString()</th>
                                @*V2-1108 start*@
                                <th data-col="5" data-th-index="4">@Model.Loc.Where(a => a.ResourceId == "spnAssigned").FirstOrDefault().Value.ToString() @Model.AssetGroup1Label</th>
                                <th data-col="6" data-th-index="5">@Model.Loc.Where(a => a.ResourceId == "spnAssigned").FirstOrDefault().Value.ToString() @Model.AssetGroup2Label</th>
                                <th data-col="7" data-th-index="6">@Model.Loc.Where(a => a.ResourceId == "spnAssigned").FirstOrDefault().Value.ToString() @Model.AssetGroup3Label</th>
                                 @*V2-1108 start*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*V2-1098*@
@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div id="searcharea" class="slideToggleBar" style="display:none">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="personnelsearctxtbox">
            </div>
        </div>

        <div class="searchList">
            <ul id="personnelsearchListul">
                @foreach (var item in Model.InactiveFlagList)
                {
                    <li id="@item.Value" class="personnelsearchdrpbox"><a href="javascript:void(0)">@item.Text</a></li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <div id="searcharea" class="slideToggleBar" style="display:none;left:81px !important;">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="personnelsearctxtbox">
            </div>
        </div>

        <div class="searchList">
            <ul id="personnelsearchListul">
                @foreach (var item in Model.InactiveFlagList)
                {
                    <li id="@item.Value" class="personnelsearchdrpbox"><a href="javascript:void(0)">@item.Text</a></li>
                }
            </ul>
        </div>
    </div>
}
@Html.Partial("_CustomizeGridSetup")
@Html.Partial("_Export")
@Html.Action("GetAdvanSearchContent")

@*Page Specific CSS - Sudip (20-08-2021)*@
<style type="text/css">
    .eqpDtlTbl.dataTable thead .sorting_asc {
        background-image: url(../../Scripts/Metronic/Images/upArrow.png) !important;
    }

    .eqpDtlTbl.dataTable thead .sorting_desc {
        background-image: url(../../Scripts/Metronic/Images/downArrow.png) !important;
    }

    @@media only screen and (min-width: 768px) and (max-width: 1023px) {
        #popupExport {
            top: 178px !important;
            right: 87px !important;
        }
    }

    @@media only screen and (min-width: 640px) and (max-width: 767px) {
        .actionBar div.pull-left {
            width: auto;
        }

        .actionBar div.pull-right {
            float: right !important;
            margin-top: 0 !important;
        }
    }

    @@media only screen and (min-width: 568px) and (max-width: 639px) {
        .actionBar div.pull-right {
            float: right !important;
            margin-top: 0 !important;
        }
    }

    @@media only screen and (min-width: 480px) and (max-width: 567px) {
        .actionBar div.pull-left {
            width: auto;
        }

        .actionBar div.pull-right {
            float: right !important;
            margin-top: 0 !important;
        }
    }

    @@media only screen and (min-width: 320px) and (max-width: 359px) {
        #liCustomize {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    }
</style>