@model Client.Models.MultiStoreroomPart.MultiStoreroomPartVM
<div id="menuPartIdChange" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Loc.Where(a => a.ResourceId == "spnChangePartId").FirstOrDefault().Value.ToString()</h4>
            </div>
            @Html.Partial("_ErrorDiv")
            @using (Ajax.BeginForm("ChangePartId", "MultiStoreroomPart", new AjaxOptions { HttpMethod = "Post", OnSuccess = "ChangePartIdOnSuccess", OnBegin = "AjaxBeginFormBegin", OnFailure = "AjaxBeginFormFaillure" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <label for="Line" id="lblLine">@Model.Loc.Where(a => a.ResourceId == "spnPartID").FirstOrDefault().Value.ToString() : <small>*</small></label>
                        <span class="inputText">
                            @Html.TextBoxFor(m => m.ChangePartIdModel.ClientLookupId, new { @class = "form-control search", style = "resize:none;", autocomplete = "off", maxlength = "70" })
                            @Html.ValidationMessageFor(m => m.ChangePartIdModel.ClientLookupId, "", new { style = "display:none" })
                        </span>
                    </div>
                </div>
                <div class="modal-footer" style="padding:15px 25px !important;">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close faIcon"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                    <button type="submit" class="btn btn-blue" style="float:right;" name="strPartId" value='@Model.MultiStoreroomPartModel.PartId'><i class="fa fa-save faIcon"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                    <div style="clear:both;"></div>
                </div>
                @Html.HiddenFor(m => m.ChangePartIdModel.ClientLookupId, new { id = "OldClientLookupId" })
            }

        </div>
    </div>
</div>
<style type="text/css">
    .ui-tooltip {
        z-index: 1151 !important;
    }

    .errormessage {
        margin-bottom: 1px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $(document).find('.select2picker').select2({});
        $.validator.setDefaults({ ignore: null });
        $.validator.unobtrusive.parse(document);
        $('input, form').blur(function () {
            if ($(this).closest('form').length > 0) {
                $(this).valid();
            }            
        });
        $(".modal").on("hidden.bs.modal", function () {
            ResetErrorDiv();
            $("#menuPartIdChange").find("select").each(function () {
                $(this).val('').trigger('change');
                if ($(this).hasClass('input-validation-error')) {
                    $(this).removeClass('input-validation-error');
                }
            });
            $("#menuPartIdChange").find("input[type=text]").each(function () {
                $(this).val('');
                if ($(this).hasClass('input-validation-error')) {
                    $(this).removeClass('input-validation-error');
                }
            });

        });
    });
</script>