@model Client.Models.MultiStoreroomPart.MultiStoreroomPartVM
@{
    Layout = null;
}
<table id="" dt-options="dtOptions" class="multiStoreroomPartinnerDataTable childtable cell-border" style="width:100%">
    <thead>
        <tr>
            <th>@Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString()</th>
            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnOnHand").FirstOrDefault().Value.ToString()</th>
            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnMaximum").FirstOrDefault().Value.ToString()</th>
            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnMinimum").FirstOrDefault().Value.ToString()</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MultiStoreroomPartChildModelList.Count > 0)
        {
            foreach (var pro in Model.MultiStoreroomPartChildModelList)
            {
        <tr>
            <td>@pro.StoreroomNameWithDescription</td>
            <td class="text-right">@pro.QtyOnHand</td>
            <td class="text-right">@pro.QtyMaximum </td>
            <td class="text-right">@pro.QtyReorderLevel</td>
        </tr>
            }
        }
    </tbody>
</table>
<style type="text/css">
    .childtable tr th {
        background: #4da5fe;
        color: #fff !important;
        white-space: nowrap !important;
        text-align: center !important;
        font-weight: 400 !important;
    }

    .link {
        color: #235ddd;
    }

    .link:hover {
        color: #32bf0e;
    }

    .nolink {
        pointer-events: none;
        color: #91a0a0;
    }

    table.dataTable thead .sorting {
        padding-right: 30px;
    }

    table.dataTable thead .sorting_asc {
        padding-right: 30px;
    }

    table.dataTable.display tbody tr:first-child td {
        width: 1%;
    }
</style>
