@model Client.Models.Configuration.MaintenanceOnDemandLibrary.MaintenanceOnDemandVM
<div class="m-subheader">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                  @Model.Loc.Where(a => a.ResourceId == "spnLibraries").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>
        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Configuration/Dashboard">&nbsp;</a></li>
                    <li>
                        <a href="/MaintenanceOnDemandLibrary/index?page=MaintenanceOnDemand">
                          @Model.Loc.Where(a => a.ResourceId == "spnMaintenanceOnDemandSearch").FirstOrDefault().Value.ToString() 
                        </a>
                    </li>
                    <li class="active">@Model.maintenanceOnDemanModel.ClientLookUpId</li>
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="ActionBttnArea">
            @if (Model.security.OnDemandLibrary.Create)
            {
                <button type="button" class="btn newBtn-add AddOndemand pull-left" title="Add Maintenance On-Demand Master"><i class="fa fa-plus"></i></button>
            }
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <div class="m-portlet">
            <div class="sideMenuArea">
                <ul class="vtabs" id="detmaintab">
                    <li class="active"><a href="#Preventive">@Model.Loc.Where(a => a.ResourceId == "spnOverview").FirstOrDefault().Value.ToString()</a></li>
                    <li id="onDemamdTask" onclick="openCity(event, 'Tasks')"><a href="#Tasks">@Model.Loc.Where(a => a.ResourceId == "spnTasks").FirstOrDefault().Value.ToString()</a></li>
                </ul>
            </div>
            <div class="selectTabs" id="selectTabs">
                <select class="form-control" id="colorselector">
                    <option value="Preventive">@Model.Loc.Where(a => a.ResourceId == "spnOverview").FirstOrDefault().Value.ToString()</option>
                    <option value="Tasks">@Model.Loc.Where(a => a.ResourceId == "spnTasks").FirstOrDefault().Value.ToString()</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-12" id="btnnblock">
                <div class="m-portlet" id="m_portlet" style="padding:15px;">
                    <div class="bottomBlock">
                        <div class="tabsArea nobg" id="Preventive" style="display:block;">
                            
                            <ul class="listView">
                                <li>
                                    <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnOnDemandID").FirstOrDefault().Value.ToString()  :</span>
                                    <span class="inputText">@Model.maintenanceOnDemanModel.ClientLookUpId</span>
                                </li>
                                <li style="height:auto;">
                                    <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString() :</span>
                                    @if (Model.maintenanceOnDemanModel.Description != null && Model.maintenanceOnDemanModel.Description.Length > 30)
                                    {
                                        <span class="inputText description-span">@Model.maintenanceOnDemanModel.Description</span>
                                    }
                                    else
                                    {
                                        <span class="inputText description-span">@Model.maintenanceOnDemanModel.Description</span>
                                    }
                                    <div style="clear:both"></div>
                                </li>
                                <li>
                                    <span class="label">@Model.Loc.Where(a => a.ResourceId == "GlobalType").FirstOrDefault().Value.ToString() :</span>
                                    <span class="inputText">@Model.maintenanceOnDemanModel.Type</span>
                                </li>
                            </ul>
                            <div class="editBttn">
                                @*@if (Model.security.OnDemandLibrary.Create)*@
                            @if (Model.maintenanceOnDemanModel.MaintOnDemandMasterId>0)   
                            {
                                    <button type="button" class="btn btn-blue" id="btnEditOnDemand"><i class="fa fa-pencil" style="margin-top:-3px;"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalEdit").FirstOrDefault().Value.ToString()</button>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="tabsArea nobg" id="Tasks" style="display:none;">
                        <div class="table-responsive">
                            <table id="tasksTable" class="eqpDtlTbl row-border custom-sort" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>@Model.Loc.Where(a => a.ResourceId == "spnOrder").FirstOrDefault().Value.ToString()</th>
                                        <th>@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString()</th>
                                        <th width="17%" style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="bttns">
                            <button type="button" class="btn btn-blue" id="btnAddTask" style="display:none;"><i class="fa fa-plus faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnAddTask").FirstOrDefault().Value.ToString()</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
@Html.HiddenFor(m => m.maintenanceOnDemanModel.MaintOnDemandMasterId)
@Html.HiddenFor(m => m.maintenanceOnDemanModel.ClientLookUpId)
@Html.HiddenFor(m => m.maintenanceOnDemanModel.Description)
@Html.HiddenFor(m => m.maintenanceOnDemanModel.Type)











