@model Client.Models.InventoryPartsIssue.InventoryPartsIssueVM

<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Scripts/mobile/css/mobiscroll.jquery.min.css">
<link href="~/Scripts/mobile/css/mobile-style.css" rel="stylesheet" />
<style>
    .title-head {
        padding: 0 15px 15px 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

        .title-head h3 {
            font-size: 15px;
            margin: 0px;
        }

    @@media(max-width:650px) {
        .title-head {
            display: block;
        }
    }
</style>

<div class="title-head">
    <div class="PageTitle">
        <div class="align-items-center separator">
            <h3 class="m-subheader__title ">
                @Model.Loc.Where(a => a.ResourceId == "spnPartIssue").FirstOrDefault().Value.ToString()
            </h3>
        </div>
    </div>

    <div class="NewBreadcrumbArea">
        <div class="newBreadcrumb">
            <ul>
                <li><a href="/Dashboard/Dashboard">&nbsp;</a></li>
                <li class="active"><a>@Model.Loc.Where(a => a.ResourceId == "spnPartIssue").FirstOrDefault().Value.ToString()</a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

@Html.Partial("_ErrorDiv")
@using (Ajax.BeginForm("SavePartsIssue_Mobile", "InventoryPartsIssue", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessSavePartsIssue_Mobile", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }, new { id = "frmInventoryPartsIssueAdd" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12" id="MobilePhInvntPartIssue">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div mbsc-page class="demo-responsive">
                    <div style="height:100%">
                        <div mbsc-form class="mbsc-form-grid">
                            <div class="mbsc-grid">
                                <div class="mbsc-row">
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <label>
                                            @Model.Loc.Where(a => a.ResourceId == "spnIssueTo").FirstOrDefault().Value.ToString()
                                            @Html.DropDownListFor(m => m.partsIssue.selectedPersonnelId, Model.partsIssue.IssueToList, "--Select--", new
                                       {
                                           @class = "form-control search mobiscrollselect",
                                           @style = "width:100%;",
                                           @mbsc_dropdown = "true",
                                           @data_label = Model.Loc.Where(a => a.ResourceId == "spnIssueTo").FirstOrDefault().Value.ToString(),
                                           @data_input_style = "box",
                                           @data_label_style = "floating",
                                           @placeholder = Model.Loc.Where(a => a.ResourceId == "spnIssueTo").FirstOrDefault().Value.ToString()
                                           //@id = "PersonnelId"
                                       })
                                        </label>
                                        @Html.ValidationMessageFor(m => m.partsIssue.PersonnelId, "", new { @class = "mbsc-err" })
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <label>
                                            @Model.Loc.Where(a => a.ResourceId == "spnChargeType").FirstOrDefault().Value.ToString()
                                            @Html.DropDownListFor(m => m.partsIssue.ChargeType, Model.partsIssue.ChargeTypeList, "--Select--", new
                                       {
                                           @class = "form-control search mobiscrollselect",
                                           @style = "width:100%;",
                                           @mbsc_dropdown = "true",
                                           @data_label = Model.Loc.Where(a => a.ResourceId == "spnChargeType").FirstOrDefault().Value.ToString(),
                                           @data_input_style = "box",
                                           @data_label_style = "floating",
                                           @placeholder = Model.Loc.Where(a => a.ResourceId == "spnChargeType").FirstOrDefault().Value.ToString()
                                           //@id = "partsIssueChargeType"
                                       })
                                        </label>
                                        @Html.ValidationMessageFor(m => m.partsIssue.ChargeType, "", new { @class = "mbsc-err" })
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <label>
                                            @Model.Loc.Where(a => a.ResourceId == "GlobalChargeTo").FirstOrDefault().Value.ToString() :
                                            @Html.TextBoxFor(m => m.partsIssue.ChargeToClientLookupId, new { @class = "form-control search dropbtn readonly", id = "txtChargeTo", autocomplete = "off", @readonly = "readonly", @mbsc_input = "true", @data_input_style = "box", @data_label_style = "floating", @placeholder = Model.Loc.Where(a => a.ResourceId == "GlobalChargeTo").FirstOrDefault().Value.ToString() })
                                            @Html.HiddenFor(m => m.partsIssue.ChargeToId, new { id = "hdnChargeToId" })
                                        </label>
                                        @Html.ValidationMessageFor(m => m.partsIssue.ChargeToClientLookupId, "", new { @class = "mbsc-err" })
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <div class="input-group-btn">
                                            <div class=" design-box">
                                                <button id="opengrid" class="btn btn-white mobBttn btntxtInputGroup" type="button" data-textfield="txtChargeTo" data-valuefield="hdnChargeToId">
                                                    <i id="srcicon" class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    @if (Model.userData.DatabaseKey.Client.AssetTree == true)
                                    {
                                        <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                            <div class="input-group-btn">
                                                <div class=" design-box">

                                                    <button type="button" class="btn btn-blue mobBttn" data-assignedid="partsIssue_ChargeToClientLookupId" id="imgChargeToTree" style="display:none;">
                                                        <i id="srcicon" class="fa fa-tree " style="display:block;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.partsIssue.MultiStoreroom)
                                    {
                                        <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                            <label>
                                                @Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString()
                                                @Html.DropDownListFor(m => m.partsIssue.StoreroomId, Model.partsIssue.StoreroomList, "--Select--", new
                                                {
                                                    @class = "form-control search mobiscrollselect ddlStoreroom",
                                                    @style = "width:100%;",
                                                    @mbsc_dropdown = "true",
                                                    @data_label = Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString(),
                                                    @data_input_style = "box",
                                                    @data_label_style = "floating",
                                                    @placeholder = Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString(),
                                                    @id = "StoreroomId"
                                                })
                                            </label>
                                            @Html.ValidationMessageFor(m => m.partsIssue.StoreroomId, "", new { @class = "mbsc-err" })
                                        </div>
                                    }
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <label>
                                            @Model.Loc.Where(a => a.ResourceId == "spnPartID").FirstOrDefault().Value.ToString() :


                                            @Html.TextBoxFor(x => x.partsIssue.PartClientLookupId, new { @class = "form-control search dropbtn readonly", id = "txtPartId", autocomplete = "off", @readonly = "readonly", @mbsc_input = "true", @data_input_style = "box", @data_label_style = "floating" })
                                        </label>
                                        @Html.ValidationMessageFor(x => x.partsIssue.PartClientLookupId, "", new { @class = "mbsc-err" })
                                        @Html.HiddenFor(m => m.partsIssue.PartId, new { id = "hdnPartId" })
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6"
                                         style=@(Model.partsIssue.MultiStoreroom?"display:none;":"")>
                                        <div class=" design-box" style="padding: 10px 16px !important">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-blue mobBttn" id="openinvpartgrid" data-multistoreroomvalue="@Model.partsIssue.MultiStoreroom">
                                                    <i id="srcicon" class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6"
                                         style=@(Model.partsIssue.MultiStoreroom?"display:none;":"")>
                                        <div class=" design-box" style="padding: 10px 16px !important">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-blue mobBttn" id="btnQrScanner">
                                                    <i class="fa fa-qrcode" style="margin-top:-2px;"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <label id="spnQuantityMaintenance">
                                            @Model.Loc.Where(a => a.ResourceId == "spnQuantity").FirstOrDefault().Value.ToString():

                                            @Html.TextBoxFor(x => x.partsIssue.Quantity, new { @class = "form-control search", autocomplete = "off", @mbsc_input = "true", placeholder = Model.Loc.Where(a => a.ResourceId == "spnQuantity").FirstOrDefault().Value.ToString(), @data_input_style = "box", @data_label_style = "floating" })
                                        </label>
                                        @Html.ValidationMessageFor(x => x.partsIssue.Quantity, "", new { @class = "mbsc-err" })
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <label id="spncommentMaintenance">
                                            @Model.Loc.Where(a => a.ResourceId == "spnLogComment").FirstOrDefault().Value.ToString():

                                            @Html.TextBoxFor(x => x.partsIssue.Comments, new { @class = "form-control search", autocomplete = "off", @mbsc_input = "true", placeholder = Model.Loc.Where(a => a.ResourceId == "spnLogComment").FirstOrDefault().Value.ToString(), @data_input_style = "box", @data_label_style = "floating" })
                                        </label>
                                        @Html.ValidationMessageFor(x => x.partsIssue.Comments, "", new { @class= "mbsc-err" })
                                    </div>
                                </div>


                               
                                <div class="mbsc-row">
                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <div class="design-box">
                                            <div class="mbsc-button-group-block">
                                                <button mbsc-button data-color="success" type="button" class="btn btn-blue mobBttn" id="btnPartIssuecancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                        <div class="design-box">
                                            <div class="mbsc-button-group-block">
                                                <button data-color="success" type="submit" class="btn btn-blue mobBttn" style="cursor:pointer" name="cmdBtn" value="btnIssue" id="btnIssue"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnIssue").FirstOrDefault().Value.ToString()</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mbsc-col-12 mbsc-col-md-12 mbsc-col-lg-12">
                                        <div class="design-box">
                                            <div class="mbsc-button-group-block">
                                                <button mbsc-button data-color="success" type="submit" class="btn btn-blue mobBttn" name="cmdBtn" value="btnIssueAndAddAnother" id="btnIssueAndAddAnother"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnIssueAndAddAnother").FirstOrDefault().Value.ToString() </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @Html.TextBoxFor(m => m.partsIssue.MultiStoreroom, new { id = "MultiStoreroom", style = "display:none" })

   
}



<style>
    .field-validation-error {
        padding: 0 20px;
        position: relative;
        top: -11px;
        font-weight: 400;
        color: #d8332a !important;
        display: block;
        font-size: .75em;
    }

    #opengrid, #imgChargeToTree {
        padding: 15px 16px 15px 16px !important;
        margin: .75em 0em 0em 0em !important;
        border-radius:8px;
    }
    #imgChargeToTree {
        min-height: 54px !important;
    }
        #imgChargeToTree i {
            line-height: 14.3px;
            font-size: 1.1rem;
           
        }

</style>