@model Client.Models.Dashboard.DashboardVM
<link href="~/Content/sidebar_custom.css" rel="stylesheet" />
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="table-responsive">
                <table id="tblMaterialRequest" class="eqpDtlTbl row-border custom-sort" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align:center !important;">
                                <input name="select_all" value="1" id="EstimatedCostsGenerationSearch-select-all" type="checkbox" />
                            </th>
                            <th>@Model.Loc.Where(a => a.ResourceId == "spnPart").FirstOrDefault().Value.ToString()</th>
                            <th>@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnUnitCost").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnQuantity").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnUnit").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnTotalCost").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:left !important;">@Model.Loc.Where(a => a.ResourceId == "spnStatus").FirstOrDefault().Value.ToString()</th>
                            <th width="17%" style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="bttn_pagin">
                <div class="bttns">
                    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#AddEstimatedParts" id="btnAddParts" style="display:none;"><i class="fa fa-plus"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnAddMaterialRequest").FirstOrDefault().Value.ToString()</button>
                    @if (Model.ApprovalRouteModel.IsMaterialRequest)
                    {
                        <button type="button" id="sendmaterialrequestitemsforapproval" class="btn btn-blue" data-toggle="modal" data-target="#SendMaterialRequestItemsforApproval" style="float: left; margin-right: 10px; display: none;"><i class="fa fa-send-o"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnSendMRItemForApproval").FirstOrDefault().Value.ToString()</button>
                    }
                </div>
                <div style="clear:both;"></div>
            </div>
            @*</div>*@

        </div>
    </div>
</div>
<div id="divAddParts"></div>
@*@Html.Partial("Widgets/MaintenanceCompletionWorkbench/_AddPartIssue")*@
<div id="AddEstimatedParts" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Loc.Where(a => a.ResourceId == "spnAddMRItems").FirstOrDefault().Value.ToString()</h4>
            </div>

            <div class="modal-body" style="text-align:center;">
                <button type="button" class="btn btn-blue btnRqst" id="selectidpartininventory"><i class="fa fa-hand-pointer-o faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnMRPartInInventory").FirstOrDefault().Value.ToString()</button>
                <button type="button" class="btn btn-blue btnRqst" id="selectidpartnotininventory"><i class="fa fa-file-text-o faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnMRPartnotinInventory").FirstOrDefault().Value.ToString()</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>

<div id="AddPartNotInInventoryModalpopup" class="modal fade" role="dialog">
    <div class="modal-dialog" id="PartNotInInventoryPopUp">
    </div>
</div>
@if (Model.ApprovalRouteModel.IsMaterialRequest)
{
    <div id="SendForApprovalModalPopup" class="modal fade" role="dialog">
        <div class="modal-dialog" id="SendForApprovalPopup">
        </div>
    </div>
}
@*V2-732*@
<div id="StoreroomListModalpopup" class="modal fade" role="dialog">
    <div class="modal-dialog" id="StoreroomListPopUp">
    </div>
</div>
@*End*@
@Html.HiddenFor(m => m.ApprovalRouteModel.IsMaterialRequest)
@Html.HiddenFor(m => m.IsUseMultiStoreroom)



