@model Client.Models.Sanitation.SanitationVM
@{
    ViewBag.Title = "Somax | Sanitation Job";
}
@Styles.Render("~/Content/datatable")
@Styles.Render("~/Content/daterangepickercustom")
<link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<link href="~/Content/sidebar_custom.css" rel="stylesheet" />
<link href="~/Scripts/Metronic/assets/demo/default/base/GlobalSearchGrid.css" rel="stylesheet" />
<link href="~/Scripts/Metronic/assets/demo/default/base/style_custom_tree.css" rel="stylesheet" />
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />

@if (Model._userdata.IsLoggedInFromMobile)
{
    <link rel="stylesheet" href="~/Scripts/mobile/css/mobiscroll.jquery.min.css">
    <link href="~/Scripts/mobile/css/mobile-style.css" rel="stylesheet" />
    @section scripts {
        @Scripts.Render("~/bundles/QRScanner")
        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/imagezoom")
        @Scripts.Render("~/bundles/QRPrint")
        @Scripts.Render("~/bundles/SanitationMobile")
        @Scripts.Render("~/bundles/ImageCompressor")

        <script src="~/Scripts/treeTable.js"></script>
        <script type="text/javascript">
            com_github_culmat_jsTreeTable.register(this);
        </script>
        <script src="~/Scripts/Pages/Sanitation/Mobile/Account-Grid-Dropdown.js"></script>
    }
    <div id="rendersanitation">

        @if (Model.IsJobOnDemandAdd && Model.IsAddForJob)
        {
            <div id="AddSanitationModal">
                @Html.Partial("Mobile/_AddSanitationJobDemand", Model)
                @Html.HiddenFor(m => m.IsJobAddFromDashboard)
            </div>

        }
        else if (Model.IsJobDescribeAdd && Model.IsAddForJob)
        {
            <div id="AddSanitationModal">
                @Html.Partial("Mobile/_AddSanitationJobDescribe")
                @Html.HiddenFor(m => m.IsJobAddFromDashboard)
            </div>
        }
        else if (Model.IsJobOnDemandAdd && Model.IsAddForRequest)
        {
            <div id="AddSanitationModal">
                @Html.Partial("Mobile/_AddSanitationRequestDemand")
                @Html.HiddenFor(m => m.IsJobAddFromDashboard)
            </div>
        }
        else if (Model.IsJobDescribeAdd && Model.IsAddForRequest)
        {
            <div id="AddSanitationModal">
                @Html.Partial("Mobile/_AddSanitationRequestDescribe")
                @Html.HiddenFor(m => m.IsJobAddFromDashboard)
            </div>
        }
        else if (Model.IsRedirectFromWorkorder)
        {
            @Html.Partial("Mobile/_SanitationJobDetails")
        }
        else
        {
            @Html.Partial("~/Views/SanitationJob/Mobile/_SanitationJobSearch.cshtml")
        }
        @Html.HiddenFor(m => m.IsRedirectFromWorkorder)
    </div>
}
else
{
    @section scripts {
        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/imagezoom")
        @Scripts.Render("~/bundles/QRPrint")
        @Scripts.Render("~/bundles/SanitationJob")
        @Scripts.Render("~/bundles/ImageCompressor")
        <script src="~/Scripts/treeTable.js"></script>
        <script type="text/javascript">
            com_github_culmat_jsTreeTable.register(this);
        </script>
        <script src="~/Scripts/Pages/Sanitation/Account-Grid-Dropdown.js"></script>
    }

    <div id="rendersanitation">

        @if (Model.IsJobOnDemandAdd && Model.IsAddForJob)
        {
            @Html.Partial("_AddOJobDemand", Model)
            @Html.HiddenFor(m => m.IsJobAddFromDashboard)

        }
        else if (Model.IsJobDescribeAdd && Model.IsAddForJob)
        {
            @Html.Partial("_AddOJobDescribe")
            @Html.HiddenFor(m => m.IsJobAddFromDashboard)
        }
        else if (Model.IsJobOnDemandAdd && Model.IsAddForRequest)
        {
            @Html.Partial("_AddORequestDemand")
            @Html.HiddenFor(m => m.IsJobAddFromDashboard)
        }
        else if (Model.IsJobDescribeAdd && Model.IsAddForRequest)
        {
            @Html.Partial("_AddORequestDescribe")
            @Html.HiddenFor(m => m.IsJobAddFromDashboard)
        }
        else if (Model.IsRedirectFromWorkorder)
        {
            @Html.Partial("_SanitationJobDetails")
        }
        else
        {
            @Html.Partial("~/Views/SanitationJob/_SanitationJobSearch.cshtml")
        }
    </div>

}





