@model Client.Models.Sanitation.SanitationVM


@using (Ajax.BeginForm("Addtools", "SanitationJob", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SJToolsAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <div class="slide-modal-head">
        <a class="slide-back-btn SJToolclearstate"> <i class="fa fa-angle-left"></i> Back</a>

        @if (Model.toolModel.SanitationPlanningId == 0)
        {
            <div class="slide-back-title">
                @Model.Loc.Where(a => a.ResourceId == "spnAddTools").FirstOrDefault().Value.ToString()
            </div>
        }
        else
        {
            <div class="slide-back-title">
                @Model.Loc.Where(a => a.ResourceId == "spnUpdateTools").FirstOrDefault().Value.ToString()
            </div>
        }

    </div>
    @Html.Partial("_ErrorDiv")
    <div class="slide-modal-body">
        <div mbsc-page class="demo-responsive">
            <div style="height:100%">
                <div mbsc-form class="mbsc-form-grid">
                    <div class="mbsc-grid">
                        <div class="mbsc-row">
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <label>
                                    @Model.Loc.Where(a => a.ResourceId == "spnTool").FirstOrDefault().Value.ToString()
                                    @if (Model.toolModel.SanitationPlanningId != 0)
                                    {
                                        @Html.TextBoxFor(m => m.toolModel.CategoryValue, new
                                        {
                                       @class = "form-control search",
                                       @mbsc_input = "true",
                                       @data_label_style = "floating",
                                       @placeholder = Model.Loc.Where(a => a.ResourceId == "spnTool").FirstOrDefault().Value.ToString(),
                                       @data_input_style = "box",
                                       autocomplete = "off",
                                       @readonly = true
                                        })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.toolModel.CategoryValue, Model.toolModel.CategoryIdList, "--Select--", new
                                   {
                                       @class = "form-control search mobiscrollselect",
                                       @style = "width:100%;",
                                       @mbsc_dropdown = "true",
                                       @data_label = Model.Loc.Where(a => a.ResourceId == "spnTool").FirstOrDefault().Value.ToString(),
                                       @data_input_style = "box",
                                       @data_label_style = "floating",
                                       @placeholder = Model.Loc.Where(a => a.ResourceId == "spnTool").FirstOrDefault().Value.ToString()
                                   })
                                    }
                                </label>
                                @Html.ValidationMessageFor(m => m.toolModel.CategoryValue, "", new { })
                            </div>
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <label>
                                    @Model.Loc.Where(a => a.ResourceId == "spnToolInstructions").FirstOrDefault().Value.ToString()
                                    @Html.TextBoxFor(m => m.toolModel.Instructions, new
                                    {
                                        @class = "form-control search",
                                        @mbsc_input = "true",
                                        @data_label_style = "floating",
                                   @placeholder = Model.Loc.Where(a => a.ResourceId == "spnToolInstructions").FirstOrDefault().Value.ToString(),
                                        @data_input_style = "box",
                                        autocomplete = "off"
                                    })
                                </label>
                                @Html.ValidationMessageFor(m => m.toolModel.Instructions, "", new { })
                            </div>
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <label>
                                    @Model.Loc.Where(a => a.ResourceId == "spnQuantity").FirstOrDefault().Value.ToString()
                                    @Html.TextBoxFor(m => m.toolModel.Quantity, new
                                    {
                                        @class = "form-control search decimalinput",
                                        @mbsc_input = "true",
                                        @data_label_style = "floating",
                                   @placeholder = Model.Loc.Where(a => a.ResourceId == "spnQuantity").FirstOrDefault().Value.ToString(),
                                        @data_input_style = "box",
                                        autocomplete = "off"
                                    })
                                </label>
                                @Html.ValidationMessageFor(m => m.toolModel.Quantity, "", new { })
                            </div>
                        </div>
                        <div class="mbsc-row">
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <div class="design-box">
                                    <div class="mbsc-button-group-block">
                                        <button mbsc-button data-color="success" type="button" class="btn btn-blue mobBttn SJToolclearstate" id="btnSJtoolscancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <div class="design-box">
                                    <div class="mbsc-button-group-block">
                                        <button data-color="success" type="submit" class="btn btn-blue mobBttn" style="cursor:pointer" value="save"><i class="fa fa-save faIcon"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-modal-footer"></div>

    @Html.HiddenFor(m => m.toolModel.SanitationJobId)
    @Html.HiddenFor(m => m.toolModel.SanitationPlanningId)
    @Html.HiddenFor(m => m.toolModel.UpdateIndex)
    @Html.HiddenFor(m => m.toolModel.CategoryValue)
    @Html.HiddenFor(m => m.toolModel.Description)
    @Html.HiddenFor(m => m.toolModel.hdnDropdownDescription)
}


<script>
    $(function () {
        $(document).find('form').find("#toolModel_CategoryValue").removeClass("input-validation-error");
        $(document).find('form').find("#toolModel_Instructions").removeClass("input-validation-error");
        $(document).find('form').find("#toolModel_Quantity").removeClass("input-validation-error");

    });
</script>
