@model Client.Models.Sanitation.SanitationVM
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />
<link href="~/Content/Dashboard/MaintenanceCompletionWorkbench.css" rel="stylesheet" />

<!-- Floating Action Button-->
<link href="~/Scripts/mobile/css/floating-action-button.css" type="text/css" rel="stylesheet" />
<!-- Floating Action Button-->
<link rel="stylesheet" href="~/Scripts/mobile/css/mobiscroll.jquery.min.css">
<link href="~/Scripts/mobile/css/mobile-style.css" rel="stylesheet" />
<script src="~/Scripts/treeTable.js"></script>

@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div class="m-subheader fixedDiv1">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" style="padding:0;">
                        <span style="line-height:35px;" id="sanitationsearchtitle">
                            @*@Model.Loc.Where(a => a.ResourceId == "spnPartSearch").FirstOrDefault().Value.ToString()*@
                            Sanitation Job Search
                        </span>
                    </h3>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
else
{
    <div class="m-subheader fixedDiv1 fixupperpannel2">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" style="padding:0;">
                        <span style="line-height:35px;" id="partsearchtitle">
                            Sanitation Job Search
                        </span>
                    </h3>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
<div class="m-portlet m-portlet--full-height m-portlet--fit">
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="actionBar" style="display:block" id="woGridAction">
                <div class="dateRangeDrop pull-left" id="complitionView" style="display:flex;">
                    <div class="demo-lists mbsc-comp mbsc-page mbsc-mobiscroll mbsc-ltr">
                        <div class="mbsc-comp mbsc-form mbsc-no-touch mbsc-ios mbsc-ltr">
                            <div class="mbsc-form-group">
                                <div class="mbsc-btn-group-block">
                                    <button class="btn btn-white navbar-btn" mbsc-button id="ShowCustomQueryDropdown">
                                        @*showVertical*@
                                        <img src="/Images/toggleMenu.png" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="SanCustomQueryDropdownDiv" class="mbsc-cloak">
                            @* vertical*@
                            <ul id="SanCustomQueryDropdown" class="mbsc-cloak">
                                @* listview *@
                                @{
                                    foreach (var item in Model.sanitationJobSearchModel.SanitationJobViewSearchList)
                                    {
                                        <li data-value="@item.Value">@item.Text</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="demo-lists mbsc-comp mbsc-page mbsc-mobiscroll mbsc-ltr">
                        <div class="mbsc-comp mbsc-form mbsc-no-touch mbsc-ios mbsc-ltr">
                            <div class="mbsc-form-group">
                                <div class="mbsc-btn-group-block">
                                    <button class="btn btn-white navbar-btn mbsc-control mbsc-btn mbsc-no-touch mbsc-ios mbsc-ltr" mbsc-button id="sidebarCollapse">
                                        <i class="fa fa-filter" style="font-size: 1.3rem;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-white navbar-btn mbsc-control mbsc-btn mbsc-no-touch mbsc-ios mbsc-ltr" title="@Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()" id="SrchBttnNew"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i></button>
                    <div class="demo-lists mbsc-comp mbsc-page mbsc-ios mbsc-ltr">
                        <div class="mbsc-comp mbsc-form mbsc-no-touch mbsc-ios mbsc-ltr">
                            <div class="mbsc-form-group">
                                <div class="mbsc-btn-group-block">
                                    <button class="btn btn-white navbar-btn mbsc-control mbsc-btn mbsc-no-touch mbsc-mobiscroll mbsc-ltr" id="ShowSortByDropdown">
                                        <i class="fa fa-sort" style="font-size: 1.3rem;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="SortByDropdownDiv" class="mbsc-cloak">
                            <ul id="SortByDropdown" class="mbsc-cloak">
                                <li data-value="1">@Model.Loc.Where(a => a.ResourceId == "spnGlobalJobID").FirstOrDefault().Value.ToString() </li>
                                <li data-value="2">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString()</li>
                                <li data-value="3">@Model.Loc.Where(a => a.ResourceId == "GlobalChargeTo").FirstOrDefault().Value.ToString()</li>
                                <li data-value="4"> @Model.Loc.Where(a => a.ResourceId == "spnGlobalChargeToName").FirstOrDefault().Value.ToString()</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-white navbar-btn mbsc-control mbsc-btn mbsc-no-touch mbsc-ios mbsc-ltr" title="@Model.Loc.Where(a => a.ResourceId == "spnResetGrid").FirstOrDefault().Value.ToString()" id="ResetGridBtn"><i class="fa fa-refresh" style="font-size: 1.1rem;position: relative;top: -2px;"></i></button>
                    <div style="clear:both;"></div>
                    <div class="searchBttnDrop desktop" id="searchBttnNewDrop" style="display:none;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            @*V2-764*@
                            <a href="javascript:void(0)" onclick="QrScannerSearch_Mobile('txtColumnSearch')" id="cancelText"><i class="fa fa-qrcode" style="font-size: 1.1rem;position: absolute;top: 9px;right: 45px;"></i></a>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>

                        <div class="searchTips">
                            <div class="titleText">Search Tips</div>
                            @if (Model.Loc.Any(a => a.ResourceId == SearchTipsType.SanitationJobSearchTips))
                            {
                                <div class="infoText">@Model.Loc.Where(a => a.ResourceId == SearchTipsType.SanitationJobSearchTips).FirstOrDefault().Value.ToString()</div>
                            }
                            else
                            {
                                <div class="infoText">Search for Sanitation Jobs by Job ID, Description, Charge To, and Charge To Name.</div>
                            }

                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent">@Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()</span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchList"></ul>
                            </div>
                            <span class="clear"><a href="javascript:void(0)" id="clearText">@Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()</a></span>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>

                <div style="clear:both;"></div>
                <div id="advsearchfilteritems"></div>
                <div style="clear:both;"></div>
            </div>

            <div style="clear:both;"></div>
            @*@Html.HiddenFor(m => m.PartStatusVal)*@
            <div id="Active" class="tabcontent" style="display:block;">
                <div id="ActiveCard" class="tabcontent" style="display:none;"></div>
            </div>
        </div>
        @if (Model.security.SanitationJob.CreateRequest)
        {
            <div class="menu pmd-floating-action" role="navigation" style="max-width: 50px;">
                <button id="AddSanitationRequestBtn_Mobile" href="javascript:void(0);" data-color="success" class="btn btn-blue mobBttn" style="cursor: pointer; display: none; text-align: right; margin-bottom: 10px !important; width: auto; float: right; ">@Model.Loc.Where(a => a.ResourceId == "spnAddSanitationRequest").FirstOrDefault().Value.ToString()&nbsp;<i class="fa fa-file-text" style="font-size: 1.5rem;margin-left:5px;"></i></button>
                <button id="AddSanitationJobBtn_Mobile" href="javascript:void(0);" data-color="success" class="btn btn-blue mobBttn" style="cursor: pointer; display: none; text-align: right; margin-bottom: 10px !important; width: auto; float: right; ">@Model.Loc.Where(a => a.ResourceId == "spnAddSanitationJob").FirstOrDefault().Value.ToString()&nbsp;<i class="fa fa-file-o" style="font-size: 1.5rem;margin-left:5px;"></i></button>

                <a href="javascript:void(0);" id="AddSanitationBtn" style="float: right;" class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary">
                    <i class="fa fa-plus" style="font-size: 1.3rem;"></i>
                </a>
            </div>
            @Html.Partial("~/Views/SanitationJob/Mobile/_SanitationRequestModal.cshtml")
            @Html.Partial("~/Views/SanitationJob/Mobile/_SanitationJobModal.cshtml")
        }
    </div>
</div>


@Html.Partial("~/Views/SanitationJob/Mobile/_QrCodeReaderModal.cshtml")
@Html.Partial("~/Views/SanitationJob/Mobile/_SanitationSummaryDescription.cshtml")
@Html.Partial("~/Views/SanitationJob/Mobile/_AllStatusDateRangeModal.cshtml")
@Html.Partial("~/Views/SanitationJob/Mobile/_PassedDateRangeModal.cshtml")
@Html.Partial("~/Views/SanitationJob/Mobile/_FailedDateRangeModal.cshtml")
@Html.Partial("~/Views/SanitationJob/Mobile/_CompletedDateRangeModal.cshtml")
@Html.Partial("~/Views/SanitationJob/Mobile/_SanitationJobAdvancedSearch.cshtml")
@if (Model.security.SanitationJob.Create)
{
    <div id="AddSanitationModal"></div>
}
<style type="text/css">
    .updateArea {
        margin-top: 0;
    }

    ul.filter_apply li:first-child {
        border-right: 1px solid #ccc;
        padding: 0 10px 0 0;
    }

    ul.filter_apply li:last-child {
        border-right: 0px solid #ccc;
        padding: 0 10px 0 0;
    }

    #tblparts_wrapper .dt-buttons {
        display: none;
    }

    #partImportTable_wrapper {
        margin-bottom: 0;
        margin-top: 10px;
    }

    @@media(min-width: 1024px) {
        .actionBar {
            padding-top: 42px;
        }

        .mbsc-mobiscroll.mbsc-btn, .mbsc-mobiscroll.mbsc-page {
            background: #fff !important;
        }

        .pmd-floating-action {
            z-index: 999 !important;
        }
    }

    @@media only screen and (max-width: 767px) and (min-width: 640px) {
        .actionBar div.pull-right {
            float: right;
            margin-top: 10px;
            width: 100%;
        }
    }

    @@media only screen and (max-width: 639px) and (min-width: 568px) {
        .actionBar div.pull-right {
            float: right;
            margin-top: 10px;
            width: 100%;
        }
    }

    @@media only screen and (max-width: 567px) and (min-width: 480px) {
        #shortDrop {
            margin-top: 0px;
            margin-right: 10px !important;
        }

        .updateArea .pull-right {
            margin-top: 0;
        }
    }

    @@media only screen and (max-width: 479px) and (min-width: 360px) {
        .updateArea {
            padding: 0;
        }

            .updateArea .pull-right {
                margin-top: 0;
                float: right !important;
                width: auto;
            }

        .actionBar#woGridAction div.pull-right #liCustomize {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    }

    @@media only screen and (max-width: 359px) and (min-width: 320px) {
        .BulkUpdate {
            margin-left: 0 !important;
        }

        #liCustomize {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    }

    @@media only screen and (width:411px) {
        #shortDrop {
            margin-right: 10px !important;
            margin-top: 0 !important;
        }

        .updateArea .pull-right {
            margin-top: 0;
            float: right !important;
            width: auto;
        }
    }

    @@media only screen and (width:414px) {
        #shortDrop {
            margin-top: 0;
            margin-right: 10px !important;
        }
    }

    @@media (max-width:900px) {
        .mbsc-mobiscroll.mbsc-page {
            background: #ffffff !important;
        }

        .mbsc-material.mbsc-btn {
            background: #ffffff !important;
        }

        .mbsc-mobiscroll.mbsc-btn {
            background: #ffffff !important;
        }
    }

    .sorting_desc_mobile:before {
        font-family: 'FontAwesome' !important;
        font-weight: 400 !important;
        content: '\f106' !important;
        font-size: 18px !important;
        color: #fff;
        position: absolute !important;
        right: 23px !important;
        left: auto !important;
        top: 14px !important;
        display: block;
        width: 10px;
        border-top: 0 !important;
        outline: 0;
    }

    .pmd-floating-action-btn:last-child:before {
        display: none;
    }


    .sorting_asc_mobile:before {
        font-family: 'FontAwesome' !important;
        font-weight: 400 !important;
        content: '\f107' !important;
        font-size: 18px !important;
        color: #fff;
        position: absolute !important;
        right: 23px !important;
        left: auto !important;
        top: 14px !important;
        display: block;
        width: 10px;
        border-top: 0 !important;
        outline: 0;
    }
</style>

