@model Client.Models.WorkOrderPlanning.WorkOrderPlanningVM
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="actionBar" style="" id="woGridAction">
                <div class="pull-left" style="position:relative;">
                    <button type="button" class="btn btn-white navbar-btn" title="@Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()" id="WOSrchBttnNew"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i> @Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white navbar-btn" id="sidebarWOCollapse" title="@Model.Loc.Where(a => a.ResourceId == "globalAdvSearch").FirstOrDefault().Value.ToString()"><i class="fa fa-filter" style="font-size: 1.3rem;"></i></button>
                    <div style="clear:both;"></div>
                    <div class="searchBttnDrop desktop" id="WOsearchBttnNewDrop" style="display:none;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchWOClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnWOSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>

                        <div class="searchTips">
                            <div class="titleText">@Model.Loc.Where(a => a.ResourceId == "spnSearchTips").FirstOrDefault().Value.ToString()</div>
                            <div class="infoText">@Model.Loc.Where(a => a.ResourceId == "spnWOSearchTxtForWOP").FirstOrDefault().Value.ToString()</div>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent"> @Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()</span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchListWO"></ul>
                            </div>
                            <span class="clear"><a href="javascript:void(0)" id="clearTextWO">@Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()</a></span>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div id="advsearchfilteritemsWO"><div style="clear:both;"></div></div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>

            <div id="Active" class="tabcontent" style="display:block;">
                <div class="col-lg-12 col-md-12" style="text-align:right;padding:10px;display:none" id="DivWoPlanningDetailsSearchitemcount">
                    <div class="pull-left">
                        <ul class="filter_apply2">
                            <li><span class="WoPlanningDetailsSearchitemcount">0</span>&nbsp;@Model.Loc.Where(a => a.ResourceId == "globalItemsSelected").FirstOrDefault().Value.ToString()</li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="WoPlanningDetailsSearch" class="eqpDtlTbl row-border hover custom-sort tblMain tblDefaultSort" style="width:100%;">
                        <thead>
                            <tr>                                
                                <th>
                                    <input name="select_all" value="1" id="woforplansearch-select-all" type="checkbox" />
                                </th>
                                <th data-col="1" data-th-index="0" data-th-prop="WOClientLookupID">@Model.Loc.Where(a => a.ResourceId == "spnGlobalWorkOrderID").FirstOrDefault().Value.ToString()</th>
                                <th data-col="2" data-th-index="1" data-th-prop="Description">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString()</th>
                                <th data-col="3" data-th-index="2" data-th-prop="WOType">@Model.Loc.Where(a => a.ResourceId == "globalWOType").FirstOrDefault().Value.ToString()</th>
                                <th data-col="4" data-th-index="3" data-th-prop="Required">@Model.Loc.Where(a => a.ResourceId == "spnRequired").FirstOrDefault().Value.ToString()</th>
                                <th data-col="5" data-th-index="4" data-th-prop="AssetID">@Model.Loc.Where(a => a.ResourceId == "spnGlobalEquipmentId").FirstOrDefault().Value.ToString()</th>
                                <th data-col="6" data-th-index="5" data-th-prop="AssetName">@Model.Loc.Where(a => a.ResourceId == "spnGlobalAssetName").FirstOrDefault().Value.ToString()</th>
                                <th data-col="7" data-th-index="6" data-th-prop="State">@Model.Loc.Where(a => a.ResourceId == "GlobalType").FirstOrDefault().Value.ToString()</th> 
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #WOsearchBttnNewDrop {
        right: auto;
        left: auto !important;
        /*left: 0 !important*/
    } 
    button.dt-button, div.dt-button, a.dt-button {
        display: none;
    }
</style>