@model Admin.Models.Site.SiteVM
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />

@if (Convert.ToString(Session["AdminMenuState"]) == "" || Convert.ToString(Session["AdminMenuState"]) == "open")
{
    <div class="m-subheader fixedDiv1">
        <div class="new-m-subheader">
            <div class="PageTitle">
                 <div class="align-items-center">
                    <h3 class="m-subheader__title" id="SiteSearchsearchtitle"> @Model.Loc.Where(a => a.ResourceId == "GlobalSiteSearch").FirstOrDefault().Value.ToString()</h3>
                </div>
               
            </div>
           
            <div class="ActionBttnArea">

                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
else
{
    <div class="m-subheader fixedDiv1 fixupperpannel2">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" id="SiteSearchsearchtitle"> @Model.Loc.Where(a => a.ResourceId == "GlobalSiteSearch").FirstOrDefault().Value.ToString()</h3>
                </div>

            </div>

                <div class="ActionBttnArea">
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
    </div>
}
<div class="pushDiv1"></div>
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="actionBar" style="display:block" id="SiteGridAction">
                <div class="pull-left" style="position:relative;">
                    <button type="button" class="btn btn-white navbar-btn" title="Search" id="SrchBttnNew"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i> @Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white navbar-btn" id="sidebarCollapse" title="Advance Search"><i class="fa fa-filter" style="font-size: 1.3rem;"></i></button>
                    <div style="clear:both;"></div>
                    <div class="searchBttnDrop desktop" id="searchBttnNewDrop" style="display:none;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>
                        <div class="searchTips">
                            <div class="titleText">@Model.Loc.Where(a => a.ResourceId == "spnSearchTips").FirstOrDefault().Value.ToString()</div>
                            <div class="infoText"> @Model.Loc.Where(a => a.ResourceId == "GlobalSearchSite").FirstOrDefault().Value.ToString()</div>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent">
                                @Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()
                            </span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchList"></ul>
                            </div>
                            <span class="clear">
                                <a href="javascript:void(0)" id="clearText">
                                    @Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()
                                </a>
                            </span>
                            <div style="clear:both;"></div>
                        </div>

                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-white import-export" id="btnSiteExport" onclick="funcShowExportbtn()">
                        @Model.Loc.Where(a => a.ResourceId == "spnExport").FirstOrDefault().Value.ToString()
                    </button>
                    <button type="button" class="btn btn-white" id="liCustomize" title="Customize" data-toggle="modal" data-target="#gridcolumncustomizemodal"><i class="fa fa-cog" style="font-size: 1.3rem;"></i></button>
                    <div class="dropdown btn-sort" id="shortDrop">
                        <button class="btn btn-blue dropdown-toggle" type="button" id="btnsortmenu" data-toggle="dropdown">
                            @Model.Loc.Where(a => a.ResourceId == "GlobalSorting").FirstOrDefault().Value.ToString()
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnsortmenu">
                            <li role="presentation" class="srtsitecolumn" data-col="0">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0)">
                                   @Model.Loc.Where(a => a.ResourceId == "spnSiteGlobal").FirstOrDefault().Value.ToString()
                                </a>
                            </li>
                            <li role="presentation" class="srtsitecolumn" data-col="1">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0)">
                                   @Model.Loc.Where(a => a.ResourceId == "spnSiteNameGlobal").FirstOrDefault().Value.ToString()
                                </a>
                            </li>
                            <li role="presentation" class="srtsitecolumn" data-col="2">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0)">
                                     @Model.Loc.Where(a => a.ResourceId == "GlobalCity").FirstOrDefault().Value.ToString()
                                </a>
                            </li>
                            <li role="presentation" class="srtsitecolumn" data-col="3">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0)">
                                     @Model.Loc.Where(a => a.ResourceId == "GlobalState").FirstOrDefault().Value.ToString()
                                </a>
                            </li>
                            <li style="border-top:1px solid #ccc; margin: 0 10px;"></li>
                            <li role="presentation" data-mode="asc" class="srtsitecolumnorder">
                                <a href="javascript:void(0)">
                                    @Model.Loc.Where(a => a.ResourceId == "globalAscending").FirstOrDefault().Value.ToString()
                                </a>
                            </li>
                            <li role="presentation" data-mode="desc" class="srtsitecolumnorder">
                                <a href="javascript:void(0)">
                                    @Model.Loc.Where(a => a.ResourceId == "globalDescending").FirstOrDefault().Value.ToString()
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div id="dvFilterSearchSelect2"></div>
                <div style="clear:both;"></div>
            </div>

            <div style="clear:both;"></div>
            <ul class="listView nobrd" style="padding-bottom:10px; margin-bottom:10px;">
                <li class="descrptn">
                    <span class="label lblDes">  @Model.Loc.Where(a => a.ResourceId == "GlobalClient").FirstOrDefault().Value.ToString():</span>
                    <span class="inputText lblDesinput">                       
                        @Html.DropDownListFor(m => m.SiteModel.ClientId, Model.SiteModel.ClientList, "--Select --", new { @class = "form-control search select2picker", style = "width:100%;", id = "ClientList" })
                    </span>
                </li>
            </ul>
            <div style="clear:both;"></div>
            <div id="Active" class="tabcontent" style="display:block;">
                <div class="table-responsive">
                    <table id="siteSearch" class="eqpDtlTbl row-border custom-sort tblMain" style="width:100%;">
                        <thead>
                            <tr>
                                <th id="thSiteId" class="th-SiteId" data-th-index="0"> @Model.Loc.Where(a => a.ResourceId == "spnSiteGlobal").FirstOrDefault().Value.ToString()</th>
                                <th id="thSiteName" data-th-index="1"> @Model.Loc.Where(a => a.ResourceId == "spnSiteNameGlobal").FirstOrDefault().Value.ToString()</th>
                                <th id="thCity" data-th-index="2">@Model.Loc.Where(a => a.ResourceId == "GlobalCity").FirstOrDefault().Value.ToString()</th>
                                <th id="thState" data-th-index="3"> @Model.Loc.Where(a => a.ResourceId == "GlobalState").FirstOrDefault().Value.ToString()</th>
                                <th style="text-align:center !important; min-width:100px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="bttn_pagin">
                    <div class="bttns"><button type="button" class="btn btn-blue" data-toggle="" data-target="" id="btnAddSearchSite" style="display:none;"><i class="fa fa-plus"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "GlobalAddSite").FirstOrDefault().Value.ToString()</button></div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Convert.ToString(Session["AdminMenuState"]) == "" || Convert.ToString(Session["AdminMenuState"]) == "open")
{
    <div id="searcharea" class="slideToggleBar" style="display:none">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="sitesearctxtbox">
            </div>
        </div>

     
    </div>
}
else
{
    <div id="searcharea" class="slideToggleBar" style="display:none;left:81px !important;">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="sitesearctxtbox">
            </div>
        </div>

       
    </div>
}
@Html.Partial("_CustomizeGridSetup")
@Html.Partial("_Export")
@Html.Partial("_SiteAdvancedSearch")
<style type="text/css">
    #popupExport { right: 180px !important; }
    @@media only screen and (max-width: 1365px) and (min-width: 1200px) {
        #popupExport { right: 170px !important; }
    }
    @@media only screen and (max-width: 639px) and (min-width: 568px) {
        .actionBar div.pull-right { float: right; margin-top: 0; }
    }
    @@media only screen and (max-width: 767px) and (min-width: 640px) {
        .actionBar div.pull-left { width: auto; }
        .actionBar div.pull-right { width: auto; float: right; margin-top: 0; }
    }
    @@media only screen and (width:1360px) {
        #popupExport { right: 171px !important; }
    }
    @@media screen and (max-width: 567px) {
        #shortDrop { margin-top: 0; margin-right: 10px !important; }
    }
    @@media screen and (max-width: 410px) {
        #shortDrop { margin-top: 10px !important; margin-right: 0px !important; }
    }
    @@media only screen and (max-width: 359px) and (min-width: 320px) {
        #liCustomize { margin-top: 0px !important; margin-left: 0px !important; }
    }
</style>