@model Client.Models.Work_Order.WorkOrderVM

<div class="tabsArea nobg">
    <div class="m-portlet" id="m_portlet" style="padding:10px;">
        <div class="table-responsive">
            <table id="LaborWizardTable" class="eqpDtlTbl row-border custom-sort" style="width:100%;">
                <thead>
                    <tr>
                        <th>@Model.Loc.Where(a => a.ResourceId == "spnPersonnelID").FirstOrDefault().Value.ToString()</th>
                        <th>@Model.Loc.Where(a => a.ResourceId == "spnFullName").FirstOrDefault().Value.ToString()</th>
                        <th>@Model.Loc.Where(a => a.ResourceId == "spnDate").FirstOrDefault().Value.ToString()</th>
                        <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnHour").FirstOrDefault().Value.ToString()</th>
                        <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnValue").FirstOrDefault().Value.ToString()</th>
                        <th width="17%" style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="bttn_pagin">
            <div class="bttns"><button type="button" class="btn btn-blue" id="AddWizardLaborbtn" style="display:none;"><i class="fa fa-plus faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnAddLabor").FirstOrDefault().Value.ToString()</button></div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>