@model Client.Models.PurchaseOrder.PurchaseOrderVM

<div id="createdlastupdated" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">     
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Loc.Where(a => a.ResourceId == "spnCreateLastUpdate").FirstOrDefault().Value.ToString()</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <h5>@Model.Loc.Where(a => a.ResourceId == "spnPoCreated").FirstOrDefault().Value.ToString()</h5>
                            <div><label id="lblusercreated"><strong>@Model.Loc.Where(a => a.ResourceId == "spnPoUser").FirstOrDefault().Value.ToString() :</strong> @Model.PurchaseOrderModel.CreateBy</label></div>
                            <div>
                                <label id="lblcreateddate">
                                    <strong>@Model.Loc.Where(a => a.ResourceId == "spnPoDate").FirstOrDefault().Value.ToString() :</strong>
                                    @if (Model.PurchaseOrderModel.CreateDate.HasValue && Model.PurchaseOrderModel.CreateDate.Value != default(DateTime))
                                    {
                                        @Model.PurchaseOrderModel.CreateDate.Value.ToString()
                                    }

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <h5>@Model.Loc.Where(a => a.ResourceId == "spnPoLastupdated").FirstOrDefault().Value.ToString()</h5>
                            <div><label id="lblusercreated"><strong>User :</strong> @Model.PurchaseOrderModel.ModifyBy</label></div>
                            <div>
                                <label id="lblcreateddate">
                                    <strong>@Model.Loc.Where(a => a.ResourceId == "spnPoDate").FirstOrDefault().Value.ToString() :</strong>
                                    @if (Model.PurchaseOrderModel.ModifyDate.HasValue && Model.PurchaseOrderModel.ModifyDate.Value != default(DateTime))
                                    {
                                        @Model.PurchaseOrderModel.ModifyDate.Value.ToString()
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
