@model Client.Models.Work_Order.WorkOrderVM
<div class="m-subheader">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "spnWorkOrderDescribe").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>

        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Dashboard/Dashboard">&nbsp;</a></li>
                    <li><a href="/WorkOrder/Index?page=Maintenance_Work_Order_Search">@Model.Loc.Where(a => a.ResourceId == "spnWorkOrderSearch").FirstOrDefault().Value.ToString()</a></li>

                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
@Html.Partial("_ErrorDiv")
@using (Ajax.BeginForm("AddWorkOrdersDesc", "WorkOrder", new AjaxOptions { HttpMethod = "Post", OnSuccess = "WorksOrderAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div class="bottomBlock">
                    <div class="tabsArea nobg">

                        <ul class="listView nobrd">
                            <li class="txtSrchArea txtSrch">
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "GlobalType").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.woDescriptionModel.Type, "", new { style = "display:none" })
                                    @Html.DropDownListFor(m => m.woDescriptionModel.Type, Model.woDescriptionModel.TypeList, "--Select--", new { @class = "form-control search select2picker", style = "width:100%;" })
                                </span>
                            </li>
                            <li class="txtSrchArea txtSrch" style="height:auto;">
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString() : <small>*</small></span>
                                <span class="inputText" style="height:auto;">
                                    @Html.ValidationMessageFor(m => m.woDescriptionModel.Description, "", new { style = "display:none" })
                                    @Html.TextAreaFor(m => m.woDescriptionModel.Description, new { @class = "form-control search", style = "resize:none;", autocomplete = "off", rows = "3" })
                                </span>
                                <div style="clear:both;"></div>
                            </li>
                            <li>
                                <span class="label">@Html.LabelFor(m => m.woDescriptionModel.DownRequired) :</span>
                                <span class="inputText">
                                    @Html.CheckBoxFor(m => m.woDescriptionModel.DownRequired, new { @class = "form-control m-input", @style = "color:black; width: auto; margin-top: 12px;" })
                                </span>
                            </li>
                            <li class="txtSrchArea txtSrch">
                                <span class="label">@Html.LabelFor(m => m.woDescriptionModel.Priority) : </span>
                                <span class="inputText">
                                    @Html.DropDownListFor(m => m.woDescriptionModel.Priority, Model.woDescriptionModel.PriorityList, "--Select--", new { @class = "form-control search select2picker", style = "width:100%;" })
                                </span>
                            </li>
                            @*Commented for V2-608*@
                            @*<li  class="txtSrchArea txtSrch">
                                    <span class="label">@Html.LabelFor(m => m.woDescriptionModel.ChargeType) : </span>
                                    <span class="inputText">
                                        @Html.DropDownListFor(m => m.woDescriptionModel.ChargeType, Model.woDescriptionModel.ChargeTypeList, "--Select--", new { @class = "form-control search select2picker", style = "width:100%;" })
                                    </span>
                                </li>*@
                            <li class="txtSrchArea txtSrch" style="position:relative;">
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "GlobalChargeTo").FirstOrDefault().Value.ToString(): </span>
                                <span class="inputText wthAdjstNew2">
                                    <div class="dropdown dropTableOuter">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.woDescriptionModel.ChargeToClientLookupId, new { @class = "form-control search dropbtn readonly", id = "txtChargeTo", autocomplete = "off", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.woDescriptionModel.ChargeToClientLookupId, new { id = "hdnChargeTo" })
                                            <div class="input-group-btn">

                                                <button class="btn btn-white btntxtInputGroup" type="button" id="openwogrid_WorkOrderDesc">
                                                    <i id="srcicon" class="fa fa-search"></i>
                                                </button>

                                            </div>
                                            <div class="input-group-btn">
                                                &nbsp;&nbsp;<button type="button" class="btn btn-blue mobBttn" onclick="QrScannerEquipment('txtChargeTo','hdnChargeTo')"><i class="fa fa-qrcode" style="margin-top:-2px;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                @if (Model._userdata.DatabaseKey.Client.AssetTree == true)
                                {
                                    <i class="fa fa-tree chargeTree TreeAdjustNew" id="imgChargeToTreeLineItem" style="display:block;"></i>
                                }

                                <div style="clear:both;"></div>
                            </li>
                            <li class="txtSrchArea txtSrch">
                                <span class="label">@Html.LabelFor(m => m.woDescriptionModel.RequiredDate) : </span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.woDescriptionModel.RequiredDate, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.woDescriptionModel.RequiredDate, "{0:MM/dd/yyyy}", new { @class = "form-control search dtpicker_3", @readonly = "readonly", autocomplete = "off", onkeydown = "event.preventDefault()" })
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="idBttns">
                        <div class="bttn_pagin">
                            <div class="bttns2">
                                <button class="btn btn-blue mobBttn" name="Command" value="save" id="btnSaveWoDesc"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                            </div>
                            <div class="bttns">
                                <button type="button" class="btn btn-blue mobBttn" id="btnCancelWoDesc"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/WorkOrder/_EmergencyOnDemandEquipmentPopUp.cshtml")
    @Html.Partial("~/Views/WorkOrder/_AddWOLocationPopUp.cshtml")
    @Html.Partial("~/Views/Shared/QR/_QrCodeReaderModal.cshtml")
}
<div id="woEquipTreeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="hdrPlantLocation">@*Plant Location Tree Lookup*@@Model.Loc.Where(a => a.ResourceId == "spnGlobalEquipmentTreeLookup").FirstOrDefault().Value.ToString()</h4>
            </div>
            <div class="modal-body">
                <div class="cntTree">
                </div>
            </div>
        </div>

    </div>
</div>
<style type="text/css">
    .lookupTree_workorder {
        text-align: center;
        position: absolute;
        right: 20px;
        top: 9px;
    }

    .chargeTree {
        right: 0px;
    }

    .inputText.wthAdjstNew {
        width: 67% !important;
    }

    .inputText.wthAdjstNew2 {
        width: 68% !important;
    }
    .modal-content {
        max-width: auto !important;
    }

    .modal-dialog {
        max-width: 850px !important;
    }
    @@media only screen and (min-width: 568px) and (max-width: 639px) {
        .inputText.wthAdjstNew, .inputText.wthAdjstNew2 {
            width: 65% !important;
        }
    }
</style>