
@model Client.Models.Work_Order.WorkOrderVM
@{

}
<div class="m-subheader fixedDiv1">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "spnAssignment").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>

        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Dashboard/Dashboard">&nbsp;</a></li>
                    <li><a href="/WorkOrder/Index?page=Maintenance_Work_Order_Search">@Model.Loc.Where(a => a.ResourceId == "spnWorkOrderSearch").FirstOrDefault().Value.ToString()</a></li>
                    <li><a href="javascript:void(0)" id="brdwoassignment" data-val="@Model.woAssignmentModel.WorkOrderId">@Model.woAssignmentModel.ClientLookupId</a></li>
                    @if (Model.woAssignmentModel.WorkOrderSchedId == 0)
                    {
                        <li class="active"><a href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnAddAssignment").FirstOrDefault().Value.ToString()</a></li>
                    }
                    else
                    {
                        <li class="active">@Model.Loc.Where(a => a.ResourceId == "spnUpdateAssignment").FirstOrDefault().Value.ToString()</li>
                    }
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="pushDiv1"></div>

<div class="row fixedDiv2">
</div>
<div class="pushDiv2 partsAdjust"></div>

@Html.Partial("_ErrorDiv")

@{
    string shortDate = string.Empty;
    if (Model.woAssignmentModel.ScheduledStartDate != null)
    {
        if (Model.woAssignmentModel.ScheduledStartDate != null && Model.woAssignmentModel.ScheduledStartDate == default(DateTime))
        {
            shortDate = null;
        }
        else
        {
            DateTime date = (DateTime)Model.woAssignmentModel.ScheduledStartDate;
            shortDate = date.ToString("MM/dd/yyyy");
        }
    }

}

@using (Ajax.BeginForm("AddAssignment", "WorkOrder", new AjaxOptions { HttpMethod = "Post", OnSuccess = "WoAssignmentAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div class="bottomBlock">
                    <div class="tabsArea nobg">
                        <ul class="listView nobrd">
                            @if (Model.woAssignmentModel.WorkOrderSchedId == 0)
                            {
                                <li>
                                    <span class="label">@Html.LabelFor(m => m.woAssignmentModel.PersonnelId) :<small>*</small></span>
                                    <span class="inputText">
                                        @Html.ValidationMessageFor(m => m.woAssignmentModel.PersonnelId, "", new { style = "display:none" })
                                        @Html.DropDownListFor(m => m.woAssignmentModel.PersonnelId, Model.woAssignmentModel.WorkAssignedLookUpList, new { @class = "form-control search select2picker", style = "width:100%;" })
                                    </span>
                                </li>
                                <li>
                                    <span class="label">@Html.LabelFor(m => m.woAssignmentModel.ScheduledStartDate): <small>*</small></span>
                                    <span class="inputText">
                                        @Html.ValidationMessageFor(m => m.woAssignmentModel.ScheduledStartDate, "", new { style = "display:none" })
                                        @Html.TextBoxFor(m => m.woAssignmentModel.ScheduledStartDate, new { @class = "form-control search dtpicker", autocomplete = "off" })
                                    </span>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <span class="label">@Html.LabelFor(m => m.woAssignmentModel.PersonnelId) : </span>
                                    <span class="inputText">
                                        @Html.TextBoxFor(m => m.woAssignmentModel.AssignedTo_PersonnelClientLookupId, new { @class = "form-control search readonly", autocomplete = "off", @readonly = "readonly" })
                                    </span>
                                </li>
                                <li>
                                    <span class="label">@Html.LabelFor(m => m.woAssignmentModel.ScheduledStartDate): <small>*</small></span>
                                    <span class="inputText">
                                        @Html.ValidationMessageFor(m => m.woAssignmentModel.ScheduledStartDate, "", new { style = "display:none" })
                                        @Html.TextBoxFor(m => m.woAssignmentModel.ScheduledStartDate, "{0:MM/dd/yyyy}", new { @class = "form-control search  readonly", autocomplete = "off", @readonly = "readonly" })
                                    </span>
                                </li>
                            }
                            <li>
                                <span class="label">@Html.LabelFor(m => m.woAssignmentModel.ScheduledHours) : </span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.woAssignmentModel.ScheduledHours, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.woAssignmentModel.ScheduledHours, new { @class = "form-control search decimalinput", autocomplete = "off" })
                                </span>

                            </li>

                        </ul>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="idBttns">
                        <div class="bttn_pagin">
                            <div class="bttns2">
                                <button type="submit" class="btn btn-blue mobBttn"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                            </div>

                            <div class="bttns">
                                <div class="bttns"><button type="button" class="btn btn-blue mobBttn" id="btnwoassignmentcancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button></div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.HiddenFor(m => m.woAssignmentModel.WorkOrderId)
    @Html.HiddenFor(m => m.woAssignmentModel.WorkOrderSchedId)
    if (Model.woAssignmentModel.WorkOrderSchedId != 0)
    {
        @Html.HiddenFor(m => m.woAssignmentModel.UpdateIndex)
    }

}
@Html.Partial("_WOSummaryDescription", Model)
