@model Client.Models.Work_Order.WorkOrderVM
<div class="m-subheader fixedDiv1">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "spnActualLabor").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>    

        <div class="filterDescription">
            <a href="javascript:void(0)" id="linkToSearch"><span id="spnlinkToSearch"></span></a>&nbsp;
            - &nbsp;<a href="javascript:void(0)" id="brdactualLabour" data-val="@Model.woLaborModel.workOrderId">@Model.woLaborModel.PersonnelClientLookupId</a>
            -&nbsp;
            @if (Model.woLaborModel.TimecardId != 0)
            {
                @Model.Loc.Where(a => a.ResourceId == "spnUpdateLabor").FirstOrDefault().Value.ToString()
            }
            else
            {
                @Model.Loc.Where(a => a.ResourceId == "spnAddLabor").FirstOrDefault().Value.ToString()
            }
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="pushDiv1"></div>

<div class="row fixedDiv2">
    @Html.Partial("_WorkOrderSummary", Model)
</div>
<div class="pushDiv2 WOScheduleAdjust"></div>
@Html.Partial("_ErrorDiv")
@using (Ajax.BeginForm("SaveActualLabor", "WorkOrder", new AjaxOptions { HttpMethod = "Post", OnSuccess = "ActualLaborAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div class="bottomBlock">
                    <div class="tabsArea nobg">
                        <ul class="listView nobrd">
                            <li>
                                <span class="label">@Html.LabelFor(m => m.woLaborModel.PersonnelID) : <small>*</small></span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.woLaborModel.PersonnelID, "", new { style = "display:none" })
                                    @Html.DropDownListFor(m => m.woLaborModel.PersonnelID, Model.woLaborModel.WorkAssignedLookUpList, "--Select--", new { @class = "form-control search select2picker", style = "width:100%;" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Html.LabelFor(m => m.woLaborModel.StartDate) : <small>*</small> </span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.woLaborModel.StartDate, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.woLaborModel.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control search", autocomplete = "off", @readonly= "readonly" })
                                </span>
                            </li>
                            <li>
                                <span class="label"><span class="label">@Html.LabelFor(m => m.woLaborModel.Hours) : <small>*</small></span></span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.woLaborModel.Hours, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.woLaborModel.Hours, "{0:n2}", new { @class = "form-control search decimalinput", autocomplete = "off" })
                                </span>
                            </li>

                        </ul>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="idBttns">
                        <div class="bttn_pagin">
                            <div class="bttns2">
                                <button type="submit" class="btn btn-blue mobBttn"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                            </div>
                            <div class="bttns"><button type="button" class="btn btn-blue mobBttn" id="btnActualLaborcancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button></div>

                            <div style="clear:both;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.woLaborModel.workOrderId)
    if (Model.woLaborModel.TimecardId != 0)
    {
        @Html.HiddenFor(m => m.woLaborModel.TimecardId)
    }
}
@Html.Partial("_WOSummaryDescription", Model)
@Html.Partial("_CompleteModal")
@Html.Partial("_CancelModal")
@Html.Partial("_ScheduleModal")

<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />
<style type="text/css">
	.pushDiv2.WOScheduleAdjust { height: 161px !important; }
	.gridList:hover { background: #fff; }
	.row[class*="m-row--col-separator-"] > div:last-child { border-bottom: 0px solid #ebedf2; }
    .filterDescription {
        padding-left: 12px;
        width: auto;
        float: left;
        font-size: 1.2rem;
        color: #000;
        font-weight: 500;
        line-height: 33px;
    }
    .filterDescription a {
        color: #36a3f7;
        text-decoration: none !important;
    }

    ul.listView li span.label {
        min-width:100px !important;
    }
</style>