@model Client.Models.Work_Order.WorkOrderVM
<div id="ScheduleModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btncancelschedule" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Loc.Where(a => a.ResourceId == "spnGlobalSchedule").FirstOrDefault().Value.ToString()</h4>
            </div>
            @using (Ajax.BeginForm("AddSchedule", "WorkOrder", new AjaxOptions { HttpMethod = "Post", OnSuccess = "WoScheduleAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Line" id="lblLine">@Model.Loc.Where(a => a.ResourceId == "spnGlobalAssigned").FirstOrDefault().Value.ToString():<small>*</small></label>
                        @if (Model.woScheduleModel.Personnellist != null)
                        {                            
                            @Html.ValidationMessageFor(m => m.woScheduleModel.PersonnelIds, "", new { style = "display:none" })
                            @Html.DropDownListFor(m => m.woScheduleModel.PersonnelIds, Model.woScheduleModel.Personnellist, new { @class = "form-control search select2picker", style = "width:100%;", id = "ddlUser", multiple = "multiple" })
                        }
                    </div>
                    <div class="form-group">
                        <label for="Line" id="lblLine">@Model.Loc.Where(a => a.ResourceId == "spnGlobalSchedule").FirstOrDefault().Value.ToString():<small>*</small></label>  
                        @Html.ValidationMessageFor(m => m.woScheduleModel.Schedulestartdate, "", new { style = "display:none" })
                        @Html.TextBoxFor(m => m.woScheduleModel.Schedulestartdate, "{0:MM/dd/yyyy}", new { @class = "form-control search dtpicker", autocomplete = "off",id= "Schedulestartdate" })
                    </div>
                </div>
                <div class="modal-footer" style="padding:15px 25px !important;">
                    <button type="button" class="btn btn-default mobBttn btncancelschedule" data-dismiss="modal"><i class="fa fa-close buttonIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                    <button type="submit" class="btn btn-blue mobBttn" style="float:right;" onclick="return ScheduleCalenderOpen();"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                    <div style="clear:both;"></div>
                </div>
                @Html.HiddenFor(x => x.woScheduleModel.WorkOrderId)
                @Html.HiddenFor(x => x.woScheduleModel.ScheduledDuration)
                @Html.HiddenFor(x => x.woScheduleModel.WorkOrderIds)
                @Html.HiddenFor(x => x.woScheduleModel.ClientLookupIds)
                @Html.HiddenFor(x => x.woScheduleModel.Status)
            }
        </div>
    </div>
</div>
<style type="text/css">
    #ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content {
        z-index: 1153 !important;
      /*top: 235px !important;*/
    }  
</style> 