
@model Client.Models.FleetService.FleetServiceVM
<div id="serviceOrderHistoryModal" class="modal fade dropdown-modal" role="dialog" style="display:none;">
    <div class="modal-dialog partPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="hdrPopChildrenTitle">@Model.Loc.Where(a => a.ResourceId == "spnServiceOrderHistory").FirstOrDefault().Value.ToString()</h4>
            </div>
            <div class="modal-body">
                <div id="tbldropdown" class="dropdown-content tbl-dropdown" style="display:block;">
                    <div class="table-responsive dropTableOuter">
                        <table id="serviceOrderHistoryTable" class="stripe dropTable globalDropTable haschild" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "spnServiceOrderID").FirstOrDefault().Value.ToString()</th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "spnGlobalEquipmentId").FirstOrDefault().Value.ToString()</th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "spnGlobalAssetName").FirstOrDefault().Value.ToString()</th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "GlobalStatus").FirstOrDefault().Value.ToString()</th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "GlobalType").FirstOrDefault().Value.ToString()</th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "spnCreated").FirstOrDefault().Value.ToString()</th>
                                    <th style="padding-left:8px;">@Model.Loc.Where(a => a.ResourceId == "spnGlobalCompleted").FirstOrDefault().Value.ToString()</th>
                                </tr>
                            </thead>
                            <tfoot id="tblSOHistoryfooter" style="display:none">
                                <tr>
                                    <th></th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "spnServiceOrderID").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "spnGlobalEquipmentId").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "spnGlobalAssetName").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "GlobalStatus").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "GlobalType").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "spnCreated").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "spnGlobalCompleted").FirstOrDefault().Value.ToString()</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:15px 25px !important;">
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    table.dataTable.dropTable tbody td {
        height: 27px;
    }

    .dropdown-content {
        height: 450px !important;
    }

    .dropdown-modal .tbl-dropdown .dataTables_wrapper {
        width: 100% !important;
    }

    .dtpickerNew { /*width: 120px;*/
        width: 100px;
        float: left;
    }

    .ui-datepicker-trigger {
        width: 30px;
        float: left;
        margin-left: -3px;
        margin-right: 10px;
    }


    #ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content {
        z-index: 1153 !important;
        top: 150px !important;
    }
</style>
