@model Client.Models.EquipmentCombined
@{
    ViewBag.Title = "Somax | Asset";
}
@Styles.Render("~/Content/dashboardStyle")
@Styles.Render("~/Content/datatable")
<link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<link href="~/Content/sidebar_custom.css" rel="stylesheet" />
<link href="~/Scripts/Metronic/assets/demo/default/base/GlobalSearchGrid.css" rel="stylesheet" />
<link href="~/Content/Wizard/Wizard.css" rel="stylesheet" />
<link href="~/Scripts/Metronic/assets/demo/default/base/style_custom_tree.css" rel="stylesheet" />
@if (Model._userdata.IsLoggedInFromMobile)
{
    <link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/MaintenanceCompletionWorkbench.css" rel="stylesheet" />

    <!-- Floating Action Button-->
    <link href="~/Scripts/mobile/css/floating-action-button.css" type="text/css" rel="stylesheet" />
    <!-- Floating Action Button-->
    <link rel="stylesheet" href="~/Scripts/mobile/css/mobiscroll.jquery.min.css">
    <link href="~/Scripts/mobile/css/mobile-style.css" rel="stylesheet" />
    @Styles.Render("~/Content/somaxcommentsection")

    @section scripts {
        @Scripts.Render("~/bundles/WebCam")
        <script src="~/Scripts/treeTable.js"></script>
        <script type="text/javascript">
            com_github_culmat_jsTreeTable.register(this);
            var IsAdd = '@ViewBag.IsEquipAddDynamic';
        </script>
        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/EquipmentSearchMobile")
        @Scripts.Render("~/bundles/imagezoom")
        @Scripts.Render("~/bundles/QRPrint")
        @Scripts.Render("~/bundles/SomaxCkEditor")
        @Scripts.Render("//unpkg.com/@flatfile/adapter/build/dist/index.min.js")
        @Scripts.Render("~/bundles/QRScanner")
        @Scripts.Render("~/bundles/ImageCompressor")
        <script type="text/javascript">
            var errClass = 'mobile-validation-error';
            $.validator.setDefaults({
                ignore: null,
                //errorClass: "mobile-validation-error", // default values is input-validation-error
                //validClass: "valid", // default values is valid
                highlight: function (element, errorClass, validClass) { //for the elements having error
                    $(element).addClass(errClass).removeClass(validClass);
                    $(element.form).find("#" + element.id).parent().parent().addClass("mbsc-err");
                    var elemName = $(element.form).find("#" + element.id).attr('name');
                    $(element.form).find('[data-valmsg-for="' + elemName + '"]').addClass("mbsc-err-msg");
                },
                unhighlight: function (element, errorClass, validClass) { //for the elements having not any error
                    $(element).removeClass(errClass).addClass(validClass);
                    $(element.form).find("#" + element.id).parent().parent().removeClass("mbsc-err");
                    var elemName = $(element.form).find("#" + element.id).attr('name');
                    $(element.form).find('[data-valmsg-for="' + elemName + '"]').removeClass("mbsc-err-msg");
                },
            });
        </script>
    }

    <div id="MobileEquipmentmaincontainer" class="mainwidget">
        @if (ViewBag.IsEquipAddDynamic == true)
        {
            <div id="AddEquipmentDiv"></div>
        }
        else if (ViewBag.IsDetailFromWorkOrder == true) // V2-919
        {
            @Html.Partial("~/Views/Equipment/Mobile/_EquipmentDetailMobile.cshtml", Model)
            @Html.Hidden("IsDetailFromWorkOrder", true)
        }
        else
        {
            @Html.Partial("~/Views/Equipment/Mobile/_EquipmentIndex.cshtml")
        }
        @Html.Partial("~/Views/Equipment/Mobile/_QrCodeReaderModal.cshtml")
    </div>


}
else
{
    @section scripts {
        @Scripts.Render("~/bundles/WebCam")
        @Scripts.Render("~/bundles/datatable")
        @Scripts.Render("~/bundles/imagezoom")
        @Scripts.Render("~/bundles/QRPrint")
        @Scripts.Render("~/bundles/Equipment")
        @Scripts.Render("~/bundles/SomaxCkEditor")
        @Scripts.Render("//unpkg.com/@flatfile/adapter/build/dist/index.min.js")
        @Scripts.Render("~/bundles/QRScanner")
        @Scripts.Render("~/bundles/ImageCompressor")
        <script type="text/javascript">
        com_github_culmat_jsTreeTable.register(this);
        var IsAdd = '@ViewBag.IsEquipAdd';
            var IsAddDynamic = '@ViewBag.IsEquipAddDynamic';
            ////var IsRedirectFromWorkOrderPrint = '@ViewBag.IsRedirectFromWorkOrderPrint';
        </script>
    }
<div id="equipmentmaincontainer" class="wrap-two">
    @if (ViewBag.IsEquipAdd == true)
    {
        @Html.Partial("EquipmentAdd", Model)
    }
    else if (ViewBag.IsEquipAddDynamic == true) // V2-611
    {
        @Html.Partial("EquipmentAddDynamic", Model)
    }
    else if (ViewBag.IsDetailFromWorkOrder == true) // V2-780
    {
        if (ViewBag.DetailFromWorkOrderIsRepairableSpare)
        {
            @Html.Partial("~/Views/Equipment/RepairableSpare/RepairableSpareEquipmentDetails.cshtml", Model)
        }
        else
        {
            @Html.Partial("EquipmentDetails", Model)
        }
        @Html.Hidden("IsDetailFromWorkOrder", true)
    }
    else if (ViewBag.IsDetailFromNotification == true) // V2-1147
    {
        if (ViewBag.DetailFromNotificationIsRepairableSpare)
        {
            @Html.Partial("~/Views/Equipment/RepairableSpare/RepairableSpareEquipmentDetails.cshtml", Model)
        }
        else
        {
            @Html.Partial("EquipmentDetails", Model)
        }
        @Html.Hidden("IsDetailFromNotification", true)
    }
    else
    {
        @Html.Partial("EquipmentSearch", Model)
    }
</div>
}
<style type="text/css">
    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .qrBox, .qrBox2 {
        text-align: center;
    }

        .qrBox2 p {
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .qrBox p {
            padding: 0 0 10px 0;
            margin: 0;
            font-weight: bold;
        }

    .secTitle {
        font-size: 14px;
        padding: 10px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #e9ecef;
    }

    .box1 {
        margin-bottom: 15px;
    }

    .countBox {
        width: 173px;
        height: 36px;
        margin: 0 auto;
        border: 1px solid #ccc;
        margin: 0 auto;
    }

    ul.levelSize {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        ul.levelSize li {
            border: 2px solid #ccc;
            padding: 5px;
            border-radius: 5px;
            float: left;
            width: 49%;
            margin-right: 2%;
        }

            ul.levelSize li:last-child {
                margin-right: 0;
            }

            ul.levelSize li:hover {
                border: 2px solid #315a98;
                padding: 5px;
            }

    .txtList {
        float: left;
    }

        .txtList p {
            padding: 0;
            margin: 0;
            line-height: 22px;
        }

            .txtList p.first {
                color: #000;
                font-weight: 400;
            }

    .rdoBtn {
        float: left;
        margin-right: 10px;
        position: relative;
        top: 4px;
        margin-left: 5px;
    }

    .recommend {
        margin-top: 20px;
    }

        .recommend p {
            padding: 0 0 3px 0;
            margin: 0;
        }

    .prevArea {
        border: 1px solid #ccc;
        height: 285px;
        margin-bottom: 15px;
    }

    .codeArea {
        border: 1px solid #ccc;
        height: 75px;
    }

    .updateArea {
        margin-top: 0;
    }
</style>

