@model Client.Models.EquipmentCombined

@using (Ajax.BeginForm("DownTimeEdit", "Equipment", new AjaxOptions { HttpMethod = "Post", OnSuccess = "DownTimeEditOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <div class="slide-modal-head">
        <a class="slide-back-btn Downtimeclearstate"> <i class="fa fa-angle-left"></i>  @Model.Loc.Where(a => a.ResourceId == "spnBack").FirstOrDefault().Value.ToString()</a>
        <div class="slide-back-title">
            @Model.Loc.Where(a => a.ResourceId == "globalDowntimeEdit").FirstOrDefault().Value.ToString()
        </div>

    </div>
    @Html.Partial("_ErrorDiv")
    <div class="slide-modal-body">
        <div mbsc-page class="demo-responsive">
            <div style="height:100%">
                <div mbsc-form class="mbsc-form-grid">
                    <div class="mbsc-grid">
                        <div class="mbsc-row">
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <label>
                                    @Model.Loc.Where(a => a.ResourceId == "GlobalDate").FirstOrDefault().Value.ToString()
                                    @Html.TextBoxFor(m => m.downTimeModel.DateDown, "{0:MM/dd/yyyy}", new
                                    {
                                   @class = "form-control search",
                                   @mbsc_input = "true",
                                   @data_label_style = "floating",
                                   @placeholder = Model.Loc.Where(a => a.ResourceId == "GlobalDate").FirstOrDefault().Value.ToString(),
                                   @data_input_style = "box",
                                   autocomplete = "off"
                               })
                                </label>
                                @Html.ValidationMessageFor(m => m.downTimeModel.DateDown, "", new { })
                            </div>
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <label>
                                    @Model.Loc.Where(a => a.ResourceId == "globalMinutes").FirstOrDefault().Value.ToString()
                                    @Html.TextBoxFor(m => m.downTimeModel.MinutesDown, new
                                    {
                                   @class = "form-control search decimalinput",
                                   @mbsc_input = "true",
                                   @data_label_style = "floating",
                                   @placeholder = Model.Loc.Where(a => a.ResourceId == "globalMinutes").FirstOrDefault().Value.ToString(),
                                   @data_input_style = "box",
                                   autocomplete = "off"
                               })
                                </label>
                                @Html.ValidationMessageFor(m => m.downTimeModel.MinutesDown, "", new { })
                            </div>
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <label>
                                    @Model.Loc.Where(a => a.ResourceId == "spnReasonForDown").FirstOrDefault().Value.ToString()
                                    @Html.DropDownListFor(m => m.downTimeModel.ReasonForDown, Model.ReasonForDownList, "--Select--", new
                               {
                                   @class = "form-control search mobiscrollselect",
                                   @style = "width:100%;",
                                   @mbsc_dropdown = "true",
                                   @data_label = Model.Loc.Where(a => a.ResourceId == "spnReasonForDown").FirstOrDefault().Value.ToString(),
                                   @data_input_style = "box",
                                   @data_label_style = "floating",
                                   @placeholder = Model.Loc.Where(a => a.ResourceId == "spnReasonForDown").FirstOrDefault().Value.ToString()
                               })
                                </label>
                                @Html.ValidationMessageFor(m => m.downTimeModel.ReasonForDown, "", new { })
                            </div>
                        </div>
                        <div class="mbsc-row">
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <div class="design-box">
                                    <div class="mbsc-button-group-block">
                                        <button mbsc-button data-color="success" type="button" class="btn btn-blue mobBttn Downtimeclearstate" id="btnEditDowntimeCancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                <div class="design-box">
                                    <div class="mbsc-button-group-block">
                                        <button data-color="success" type="submit" class="btn btn-blue mobBttn" style="cursor:pointer" value="save"><i class="fa fa-save faIcon"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-modal-footer"></div>

    @Html.HiddenFor(m => m.downTimeModel.DowntimeId)
    @Html.HiddenFor(m => m.downTimeModel.EquipmentId)
}

