@model Client.Models.PurchaseRequest.PurchaseRequestVM
@using Client.Models.Common
@{
    bool OraclePurchaseRequestExportInUse = false;
    bool EPMInvoiceImportInUse = false;
    var InterfacePropData = (List<InterfacePropModel>)Session["InterfacePropData"];
    if (InterfacePropData != null && InterfacePropData.Count > 0)
    {
        OraclePurchaseRequestExportInUse = InterfacePropData.Where(x => x.InterfaceType == ApiConstants.OraclePurchaseRequestExport).Select(x => x.InUse).FirstOrDefault();
        EPMInvoiceImportInUse = InterfacePropData.Where(x => x.InterfaceType == ApiConstants.EPMInvoiceImport).Select(x => x.InUse).FirstOrDefault();
    }
}
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />
@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div class="m-subheader fixedDiv1">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" style="padding:0;">
                        <span class="dropToggle" id="spnDropToggle">
                            <img src="~/Images/toggleMenu.png" />
                        </span>
                        <span style="line-height:35px;" id="prsearchtitle">
                        </span>
                    </h3>
                </div>
            </div>
            <div class="ActionBttnArea">
                @*Commented to remove AutoGeneration menu for V2-643 *@
                @*@if (Model.security.PurchaseRequest.AutoGeneration)
                    {
                        <div class="actionDiv pull-left" id="prsearchactiondiv">
                            <div class="btn-group bootstrap-select m-datatable__pager-size dropup show selectDrop actionNewDrop" style="margin-right:0;">
                                <div class="btn-group bootstrap-select m-datatable__pager-size" style="width: 100%;">
                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" title=""><span class="filter-option pull-left">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                    <div class="dropdown-menu open" role="combobox">
                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                            <li id="liAutoGenerate"><a href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnAutoGeneration").FirstOrDefault().Value.ToString()</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@
                <div class="forRes" style="clear:both;"></div>
                @if (Model.security.PurchaseRequest.Create)
                {
                    <button type="button" class="btn newBtn-add AddPrequest pull-left" title="Add Purchase Request">@Model.Loc.Where(a => a.ResourceId == "spnNewPurchaseRequest").FirstOrDefault().Value.ToString()</button>
                }
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
else
{ <div class="m-subheader fixedDiv1 fixupperpannel2">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" style="padding:0;">
                        <span class="dropToggle" id="spnDropToggle">
                            <img src="~/Images/toggleMenu.png" />
                        </span>
                        <span style="line-height:35px;" id="prsearchtitle">
                        </span>
                    </h3>
                </div>
            </div>
            <div class="ActionBttnArea">
                @*Commented to remove AutoGeneration menu for V2-643 *@
                @*@if (Model.security.PurchaseRequest.AutoGeneration)
                    {
                        <div class="actionDiv pull-left" id="prsearchactiondiv">
                            <div class="btn-group bootstrap-select m-datatable__pager-size dropup show selectDrop actionNewDrop" style="margin-right:0;">
                                <div class="btn-group bootstrap-select m-datatable__pager-size" style="width: 100%;">
                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" title=""><span class="filter-option pull-left">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                    <div class="dropdown-menu open" role="combobox">
                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                            <li id="liAutoGenerate"><a href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnAutoGeneration").FirstOrDefault().Value.ToString()</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@
                <div class="forRes" style="clear:both;"></div>
                @if (Model.security.PurchaseRequest.Create)
                {
                    <button type="button" class="btn newBtn-add AddPrequest pull-left" title="Add Purchase Request">@Model.Loc.Where(a => a.ResourceId == "spnNewPurchaseRequest").FirstOrDefault().Value.ToString()</button>
                }
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>}

<div class="pushDiv1"></div>
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px; margin-bottom:0;">
            <div class="actionBar" style="display:none" id="PurchaseRequestGridAction">
                <div class="pull-left" style="position:relative;">
                    <button type="button" class="btn btn-white navbar-btn" title="Search" id="SrchBttnNew"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i>@Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white navbar-btn" id="sidebarCollapse" title="Advance Search"><i class="fa fa-filter" style="font-size: 1.3rem;"></i></button>
                    <ul class="filter_apply globalFilterAdjusted clsgridreset">
                        <li class="textClear" id="liResetGridClearBtn"><a href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()</a></li>
                    </ul>
                    <div style="clear:both;"></div>
                    <div class="searchBttnDrop desktop" id="searchBttnNewDrop" style="display:none;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>

                        <div class="searchTips">
                            <div class="titleText">@Model.Loc.Where(a => a.ResourceId == "GlobalSearchTips").FirstOrDefault().Value.ToString()</div>
                            @if (Model.Loc.Any(a => a.ResourceId == SearchTipsType.PurchaseRequestSearchTips))
                            {
                                <div class="infoText">@Model.Loc.Where(a => a.ResourceId == SearchTipsType.PurchaseRequestSearchTips).FirstOrDefault().Value.ToString()</div>
                            }
                            else
                            {
                                <div class="infoText">@Model.Loc.Where(a => a.ResourceId == "VendorSearchTips").FirstOrDefault().Value.ToString()</div>
                            }

                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent">@Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()</span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchList"></ul>
                            </div>
                            <span class="clear"><a href="javascript:void(0)" id="clearText">@Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()</a></span>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-right marAdjst">
                    <button type="button" class="btn btn-white import-export" disabled onclick="funcShowExportbtn()">@Model.Loc.Where(a => a.ResourceId == "spnExport").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white" id="liCustomize" title="Customize" data-toggle="modal" data-target="#gridcolumncustomizemodal"><i class="fa fa-cog" style="font-size: 1.3rem;"></i></button>

                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div id="advsearchfilteritems"></div>
                <div style="clear:both;"></div>
            </div>

            <div class="updateArea" style="display:none;">
                <div class="pull-left">
                    <ul class="filter_apply2">
                        <li><span class="itemcount">0</span>&nbsp;@Model.Loc.Where(a => a.ResourceId == "globalItemsSelected").FirstOrDefault().Value.ToString()</li>
                    </ul>
                    @*<button type="button" class="btn btn-blue" title="Print Labels" id="PrintPRCheckList" disabled="disabled" style="float:left;"><i class="fa fa-print" style="margin-top:-3px;"></i></button>*@
                    <button type="button" class="btn btn-blue" title="Print" id="PrintPRCheckListDevExpress" disabled="disabled" style="float: left; padding: 0.65rem; float: right; margin: 0 7px; "><i class="fa fa-print" style=" margin-top: -3px;"></i></button>
                </div>
                <div class="dropdown btn-sort" id="processDrop" style="float:right;">
                    <button class="btn btn-blue dropdown-toggle newSchedulesort" type="button" id="ProcessMenu" data-toggle="dropdown" style="margin-top:0;">@Model.Loc.Where(a => a.ResourceId == "spnPdProcess").FirstOrDefault().Value.ToString()</button>
                    <ul class="dropdown-menu scheduleDropMenu" role="menu" aria-labelledby="schedulesortmenu">
                        @if (Model.security.Purchasing.Approve && !Model.IsPurchaseRequestApproval)
                        {
                            if (OraclePurchaseRequestExportInUse)
                            {
                                if (Model.udata.DatabaseKey.Personnel.ExOracleUserId != "" && Model.udata.Security.PurchaseRequest.Approve)
                                {
                                    <li role="presentation" id="approveListPR" data-col="1"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnPdApprove").FirstOrDefault().Value.ToString()</a></li>
                                    <li role="presentation" id="denyListPR" data-col="0"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnPdDeny").FirstOrDefault().Value.ToString()</a></li>
                                }
                            }
                            else
                            {
                                <li role="presentation" id="approveListPR" data-col="1"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnPdApprove").FirstOrDefault().Value.ToString()</a></li>
                                <li role="presentation" id="denyListPR" data-col="0"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnPdDeny").FirstOrDefault().Value.ToString()</a></li>
                            }
                            <li role="presentation" id="returnToRequestorListPR" data-col="0"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnPdReturntoRequester").FirstOrDefault().Value.ToString()</a></li>
                        }
                        @if (Model.security.Purchasing.Create)
                        {
                            if (!EPMInvoiceImportInUse && Model.udata.Security.Convert_To_PurchaseOrder.Access)
                            {
                                <li role="presentation" id="ConvertToPurchaseOrderListPR" data-col="0"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnConvertToPurchaseOrder").FirstOrDefault().Value.ToString()</a></li>

                            }
                            if (Model.isActiveInterface)
                            {
                                <li role="presentation" id="sendToCoupaListPR" data-col="0"><a tabindex="-1" href="javascript:void(0)">@Model.Loc.Where(a => a.ResourceId == "spnSendtoCoupa").FirstOrDefault().Value.ToString()</a></li>
                            }
                        }
                        @if (Model.IsSendToSAP)
                        {
                            <li role="presentation" id="SendToSAPListPR" data-col="0"><a tabindex="-1" href="javascript:void(0)">Send to SAP</a></li>
                        }
                    </ul>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>

            <div id="Active" class="tabcontent" style="display:block;">
                <div class="table-responsive">
                    <table id="purchaserequestSearch" class="eqpDtlTbl row-border custom-sort tblMain hover haschild tblDefaultSort" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="width:20px;"></th>
                                <th>
                                    <input name="select_all" value="1" id="purchaserequest-select-all" type="checkbox" />
                                </th>
                                <th id="thPurchaseRequest" data-col="2" class="th-PurchaseRequest ClientLookupId" data-th-index="0" data-th-prop="ClientLookupId">@Model.Loc.Where(a => a.ResourceId == "spnPurchaseRequest").FirstOrDefault().Value.ToString()</th>
                                <th data-th-index="1" data-col="3" class="Reason" data-th-prop="Reason">@Model.Loc.Where(a => a.ResourceId == "spnWrReason").FirstOrDefault().Value.ToString()</th>
                                <th id="thPurchaseStatus" data-col="4" class="Status" data-th-index="2" data-th-prop="Status">@Model.Loc.Where(a => a.ResourceId == "spnWrStatus").FirstOrDefault().Value.ToString()</th>
                                <th data-th-index="3" data-col="5" class="Creator_PersonnelName" data-th-prop="Creator_PersonnelName">@Model.Loc.Where(a => a.ResourceId == "spnWrCreatedBy").FirstOrDefault().Value.ToString()</th>
                                <th id="thPurchaseVendor" data-col="6" class="VendorClientLookupId" data-th-index="4" data-th-prop="VendorClientLookupId">@Model.Loc.Where(a => a.ResourceId == "spnWrVendor").FirstOrDefault().Value.ToString()</th>
                                <th id="thPurchaseVendorName" data-col="7" class="VendorName" data-th-index="5" data-th-prop="VendorName">@Model.Loc.Where(a => a.ResourceId == "spnWrVendorName").FirstOrDefault().Value.ToString()</th>
                                <th class="CreateDate" data-col="8" data-th-index="6" data-th-prop="CreateDateString">@Model.Loc.Where(a => a.ResourceId == "spnWrCreated").FirstOrDefault().Value.ToString()</th>
                                <th class="PurchaseOrderClientLookupId" data-col="9" data-th-index="7" data-th-prop="PurchaseOrderClientLookupId">@Model.Loc.Where(a => a.ResourceId == "spnWrPONumber").FirstOrDefault().Value.ToString()</th>
                                <th class="Processed_PersonnelName" data-col="10" data-th-index="8" data-th-prop="Processed_PersonnelName">@Model.Loc.Where(a => a.ResourceId == "spnWrProcessedBy").FirstOrDefault().Value.ToString()</th>
                                <th class="ProcessedDate" data-col="11" data-th-index="9" data-th-prop="ProcessedDateString">@Model.Loc.Where(a => a.ResourceId == "spnWrDateProcessed").FirstOrDefault().Value.ToString()</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.ipropInUse)
@Html.HiddenFor(m => m.purchaseRequestModel.PRUsePunchOutSecurity)
@Html.HiddenFor(m => m.purchaseRequestModel.IsSitePunchOut)
@Html.Partial("_CustomizeGridSetup")
@Html.Partial("_Export")
@Html.Partial("_PRDateRangeModal")
@Html.Partial("_PROrderDateRangeModal")
@Html.Partial("_PRCancelDenyDateRangeModal")
<nav class="sidebar">
    <div class="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-header">
        <h3><i class="fa fa-filter" style="position: relative; top: -2px;"></i>&nbsp;@Model.Loc.Where(a => a.ResourceId == "spnWrFilters").FirstOrDefault().Value.ToString() <span class="filteritemcount">0</span></h3>
        <button type="button" class="btn btn-blue filterSearch" id="btnPRDataAdvSrch">
            @Model.Loc.Where(a => a.ResourceId == "GlobalApply").FirstOrDefault().Value.ToString()
        </button>
    </div>
    <div class="sidebar-content" id="advsearchsidebar">
        <form action="#" method="post">
            <div class="form-group prc-ClientLookupId">
                <label for="PurchaseRequest">@Model.Loc.Where(a => a.ResourceId == "spnPurchaseRequest").FirstOrDefault().Value.ToString() :</label>
                <input type="text" class="form-control search adv-item" id="PurchaseRequest" autocomplete="off">
            </div>
            <div class="form-group prc-Reason">
                <label for="Reason">@Model.Loc.Where(a => a.ResourceId == "spnWrReason").FirstOrDefault().Value.ToString() :</label>
                <input type="text" class="form-control search adv-item" id="Reason" autocomplete="off">
            </div>
            <div class="form-group prc-Status">
                <label for="Status">@Model.Loc.Where(a => a.ResourceId == "spnWrStatus").FirstOrDefault().Value.ToString() :</label>
                @Html.DropDownListFor(m => m.purchaseRequestModel.Status, Model.purchaseRequestModel.StatusList, "--Select--", new { @class = "form-control search adv-item select2picker", style = "width:100%;", id = "Status" })
            </div>
            <div class="form-group prc-Creator_PersonnelName">
                <label for="CreatedBy">@Model.Loc.Where(a => a.ResourceId == "spnWrCreatedBy").FirstOrDefault().Value.ToString() :</label>
                <input type="text" class="form-control search adv-item" id="CreatedBy" autocomplete="off">
            </div>
            <div class="form-group prc-VendorClientLookupId">
              <label for="Vendor">@Model.Loc.Where(a => a.ResourceId == "spnWrVendor").FirstOrDefault().Value.ToString() :</label>
              <input type="text" class="form-control search adv-item" id="Vendor" autocomplete="off">
              @*@Html.DropDownListFor(m => m.purchaseRequestModel.VendorClientLookupId, Model.purchaseRequestModel.VendorsList, "--Select--", new { @class = "form-control search adv-item select2picker", id = "Vendor", style = "width:100%;" })*@
            </div>
            <div class="form-group prc-VendorName">
                <label for="VendorName">@Model.Loc.Where(a => a.ResourceId == "spnWrVendorName").FirstOrDefault().Value.ToString() :</label>
                <input type="text" class="form-control search adv-item" id="VendorName" autocomplete="off">
            </div>
            <div class="form-group prc-CreateDate">
                <label for="Created">@Model.Loc.Where(a => a.ResourceId == "spnWrCreated").FirstOrDefault().Value.ToString() :</label>
                <select style="width:100%;" class="form-control search adv-item select2picker" id="Created">
                    <option value="">--Select--</option>
                    @foreach (var item in Model.purchaseRequestModel.DateRangeDropList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <div style="padding:10px 0 0 10px; border-left: 1px dashed #b9c1c4;" id="Createtimeperiodcontainer">
                    <label for="">@Model.Loc.Where(a => a.ResourceId == "spnGlobalTimePeriod").FirstOrDefault().Value.ToString() :</label>
                    <input type="text" class="form-control search dtrangepicker adv-item" id="advcreatedaterange" autocomplete="off">
                </div>
            </div>
            <div class="form-group prc-PurchaseOrderClientLookupId">
                <label for="PONumber">@Model.Loc.Where(a => a.ResourceId == "spnWrPONumber").FirstOrDefault().Value.ToString() :</label>
                <input type="text" class="form-control search adv-item" id="PONumber" autocomplete="off">
            </div>
            <div class="form-group prc-Processed_PersonnelName">
                <label for="ProcessedBy">@Model.Loc.Where(a => a.ResourceId == "spnWrProcessedBy").FirstOrDefault().Value.ToString() :</label>
                <input type="text" class="form-control search adv-item" id="ProcessedBy" autocomplete="off">

            </div>
            <div class="form-group prc-ProcessedDate">
                <label for="DateProcessed">@Model.Loc.Where(a => a.ResourceId == "spnWrDateProcessed").FirstOrDefault().Value.ToString() :</label>
                <select style="width:100%;" class="form-control search adv-item select2picker" id="DateProcessed">
                    <option value="">--Select--</option>
                    @foreach (var item in Model.purchaseRequestModel.DateRangeDropList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <div style="padding:10px 0 0 10px; border-left: 1px dashed #b9c1c4;" id="processedbytimeperiodcontainer">
                    <label for="">@Model.Loc.Where(a => a.ResourceId == "spnGlobalTimePeriod").FirstOrDefault().Value.ToString() :</label>
                    <input type="text" class="form-control search dtrangepicker adv-item" id="advprocessdedbydaterange" autocomplete="off">
                </div>
            </div>
        </form>
    </div>
</nav>


@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div id="searcharea" class="slideToggleBar" style="display:none;">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="prsearctxtbox">
            </div>
        </div>

        <div class="searchList">
            <ul id="prsearchListul">
                @foreach (var item in Model.purchaseRequestModel.ScheduleWorkList)
                {
                    <li id="@item.Value" class="prsearchdrpbox"><a href="javascript:void(0)">@item.Text</a></li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <div id="searcharea" class="slideToggleBar" style="display:none;left:81px !important;">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="prsearctxtbox">
            </div>
        </div>
        <div class="searchList">
            <ul id="prsearchListul">
                @foreach (var item in Model.purchaseRequestModel.ScheduleWorkList)
                {
                    <li id="@item.Value" class="prsearchdrpbox"><a href="javascript:void(0)">@item.Text</a></li>
                }
            </ul>
        </div>
    </div>
}

@Html.Partial("_PurchaseRequestAutoGeneration")
@Html.Partial("_StatusDetailsLocalization")
@Html.Partial("_DenySearchModal")
@Html.Partial("_ReturnTorequesterSearchModal")
@if (Model.purchaseRequestModel.PRUsePunchOutSecurity && Model.purchaseRequestModel.IsSitePunchOut)
{
    @Html.Partial("_PRVendorPopup")
}

<style type="text/css">
    @@media only screen and (max-width: 767px) and (min-width: 640px) {
        .actionBar div.pull-right {
            float: right;
            margin-top: 0px;
        }
    }

    @@media only screen and (max-width: 639px) and (min-width: 568px) {
        .actionBar div.pull-right {
            float: right;
            margin-top: 0px;
        }
    }

    @@media only screen and (max-width: 567px) and (min-width: 480px) {
        #shortDrop {
            margin-top: 0px;
            margin-right: 10px !important;
        }
    }

    @@media only screen and (max-width: 359px) and (min-width: 320px) {
        #liCustomize {
            margin-top: 0px !important;
            margin-left: 0px !important;
        }
    }

    @@media only screen and (width:411px) {
        #shortDrop {
            margin-top: 0 !important;
            margin-right: 10px !important;
        }
    }

    @@media only screen and (width:414px) {
        .ActionBttnArea .actionDiv.pull-left {
            float: none;
        }

        #shortDrop {
            margin-top: 0 !important;
            margin-right: 10px !important;
        }
    }
    .clsgridreset {
        margin-top: 0px !important;
    }
    .clsgridreset li {
        border-left: 1px solid #ccc;
        border-right: 0px !important;
        padding-left: 10px !important;
    }

</style>