@model Client.Models.Dashboard.DashboardVM
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="table-responsive">
                <table id="tblMaterialRequest" class="eqpDtlTbl row-border custom-sort" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align:center !important;">
                                <input name="select_all" value="1" id="EstimatedCostsGenerationSearch-select-all" type="checkbox" />
                            </th>
                            <th>@Model.Loc.Where(a => a.ResourceId == "spnPart").FirstOrDefault().Value.ToString()</th>
                            <th>@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnUnitCost").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnQuantity").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnUnit").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnTotalCost").FirstOrDefault().Value.ToString()</th>
                            <th style="text-align:left !important;">@Model.Loc.Where(a => a.ResourceId == "spnStatus").FirstOrDefault().Value.ToString()</th>
                            <th width="17%" style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="bttn_pagin">
                <div class="bttns">
                    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#AddEstimatedParts" id="btnAddParts" style="display:none;"><i class="fa fa-plus"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnAddMaterialRequest").FirstOrDefault().Value.ToString()</button>
                    @if (Model.ApprovalRouteModel.IsMaterialRequest)
                    {
                        <button type="button" id="sendmaterialrequestitemsforapproval" class="btn btn-blue" data-toggle="modal" data-target="#SendMaterialRequestItemsforApproval" style="float: left; margin-right: 10px; display: none;"><i class="fa fa-send-o"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnSendMRItemForApproval").FirstOrDefault().Value.ToString()</button>
                    }
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="slide-modal" id="PartWo_Mobile">
                <div class="slide-modal-head ">
                    <a id="hidePartsWoPopup_Mobile" class="slide-back-btn"> <i class="fa fa-angle-left"></i> Back</a>
                    <div class="slide-back-title">
                        @Model.Loc.Where(a => a.ResourceId == "spnAddMaterialRequest").FirstOrDefault().Value.ToString()
                    </div>
                </div>

                <div class="slide-modal-body">
                    <div mbsc-page class="demo-responsive">
                        <div style="height:100%">
                            <div mbsc-form class="mbsc-form-grid">
                                <div class="mbsc-grid">
                                    <div class="mbsc-row">
                                        <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                            <div class="design-box">
                                                <div class="mbsc-button-group-block">
                                                    <button mbsc-button data-color="success" type="button" class="btn btn-blue btnRqst mobBttn" id="selectidpartininventory">@Model.Loc.Where(a => a.ResourceId == "spnMRPartInInventory").FirstOrDefault().Value.ToString()</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-6">
                                            <div class="design-box">
                                                <div class="mbsc-button-group-block">
                                                        <button mbsc-button data-color="success" type="button" class="btn btn-blue btnRqst mobBttn" id="selectidpartnotininventory">@Model.Loc.Where(a => a.ResourceId == "spnMRPartnotinInventory").FirstOrDefault().Value.ToString()</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide-modal-footer"></div>
            </div>
            @*</div>*@

        </div>
    </div>
</div>
<div id="divAddParts"></div>
@*V2-732*@
<div class="slide-modal">
    <div id="StoreroomListModalpopup">
        <div id="StoreroomListPopUp">
        </div>
    </div>
</div>
@*V2-732*@
@Html.HiddenFor(m => m.ApprovalRouteModel.IsMaterialRequest)
@Html.HiddenFor(m => m.IsUseMultiStoreroom)





