@model Client.Models.FleetAsset.FleetAssetVM

<div class="m-subheader fixedDiv1">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "spnFleetAsset").FirstOrDefault().Value.ToString()
                    
                </h3>
            </div>
        </div>

        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Dashboard/Dashboard">&nbsp;</a></li>
                    <li><a href="/FleetAsset/Index?page=Fleet_Asset">@Model.Loc.Where(a => a.ResourceId == "spnFleetAssetSearch").FirstOrDefault().Value.ToString()</a></li>
                    <li class="lithisfleetasset" data-val="@Model.attachmentModel.EquipmentId"><a href="javascript:void(0)">@Model._FleetAssetSummaryModel.Equipment_ClientLookupId</a></li>
                    <li class="active">@Model.Loc.Where(a => a.ResourceId == "globalAddAttachment").FirstOrDefault().Value.ToString()</li>
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="pushDiv1"></div>

<div class="row fixedDiv2">
    @Html.Partial("_FleetAssetSummary", Model)
</div>
<div class="pushDiv2"></div>
@Html.Partial("_ErrorDiv")

<form id="frmeqpattachmentadd" name="frmeqpattachmentadd" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div class="bottomBlock">
                    <div class="tabsArea nobg">
                        <ul class="listView nobrd">
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "globalSubject").FirstOrDefault().Value.ToString() : </span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.attachmentModel.Subject, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "globalFileName").FirstOrDefault().Value.ToString() : <small>*</small></span>
                                <span class="inputText fileT">
                                    @Html.ValidationMessageFor(m => m.attachmentModel.FileContent, "", new { style = "display:none" })
                                    @Html.SomaxAttachmentFileFor(m => m.attachmentModel.FileContent, new { autocomplete = "off", @class = "attfile" })
                                </span>
                            </li>

                        </ul>
                    </div>
                    <div style="clear:both;"></div>

                    <div class="idBttns">
                        <div class="bttn_pagin">
                            <div class="bttns2">
                                <button type="submit" button class="btn btn-blue mobBttn"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                            </div>
                            <div class="bttns"><button type="button" class="btn btn-blue mobBttn" id="btnattachmentcancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button></div>

                            <div style="clear:both;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.attachmentModel.EquipmentId)
    @Html.HiddenFor(m => m.attachmentModel.AttachmentId)

</form>

