@model Client.Models.FleetFuel.FleetFuelVM
<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />

@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div class="m-subheader fixedDiv1">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title">@Model.Loc.Where(a => a.ResourceId == "hrdFuelTrackingTitle").FirstOrDefault().Value.ToString()</h3>
                </div>
            </div>

            <div class="ActionBttnArea">
                @if (Model.security.Fleet_RecordFuelEntry.Access)
                {
                    <button type="button" class="btn newBtn-add AddFuel pull-left" id="AddFleet" title="Add Fuel">@Model.Loc.Where(a => a.ResourceId == "spnAddNewFuel").FirstOrDefault().Value.ToString()</button>
                }
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
else
{
    <div class="m-subheader fixedDiv1 fixupperpannel2">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title">@Model.Loc.Where(a => a.ResourceId == "hrdFuelTrackingTitle").FirstOrDefault().Value.ToString()</h3>
                </div>
            </div>

            <div class="ActionBttnArea">
                @if (Model.security.Fleet_RecordFuelEntry.Access)
                {
                    <button type="button" class="btn newBtn-add AddFuel pull-left" id="AddFuel" title="Add Fuel">@Model.Loc.Where(a => a.ResourceId == "spnAddNewFuel").FirstOrDefault().Value.ToString()</button>
                }
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}

<div class="pushDiv1"></div>
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="actionBar" style="display:block" id="fleetfuelGridAction">
                <div class="pull-left" style="position:relative;">
                    <button type="button" class="btn btn-white navbar-btn" title="Search" id="SrchBttnNew"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i> @Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
                    <button type="button" class="btn btn-white navbar-btn" id="sidebarCollapse" title="Advance Search"><i class="fa fa-filter" style="font-size: 1.3rem;"></i></button>
                    <div style="clear:both;"></div>
                    <div class="searchBttnDrop desktop" id="searchBttnNewDrop" style="display:none;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>
                        <div class="searchTips">
                            <div class="titleText">@Model.Loc.Where(a => a.ResourceId == "spnSearchTips").FirstOrDefault().Value.ToString()</div>
                            <div class="infoText">@Model.Loc.Where(a => a.ResourceId == "FuelTrackingSearchTips").FirstOrDefault().Value.ToString()</div>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent">
                                @Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()
                            </span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchList"></ul>
                            </div>
                            <span class="clear">
                                <a href="javascript:void(0)" id="clearText">
                                    @Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()
                                </a>
                            </span>
                            <div style="clear:both;"></div>
                        </div>

                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" style="margin-right:0px !important;" class="btn btn-white import-export" id="btnFleetFuelExport" onclick="funcShowExportbtn()">
                        @Model.Loc.Where(a => a.ResourceId == "spnExport").FirstOrDefault().Value.ToString()
                    </button>
                 @*V2-557*@
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div id="dvFilterSearchSelect2"></div>
                <div style="clear:both;"></div>
            </div>

            <div style="clear:both;"></div>
            @Html.Partial("_FleetErrorDiv")
            <div id="Active" class="tabcontent" style="display:block;">
                <div class="table-responsive">
                    <table id="fleetfuelSearch" class="eqpDtlTbl row-border custom-sort tblMain tblDefaultSort" style="width:100%;">
                        <thead>
                            <tr>
                                <th> @Model.Loc.Where(a => a.ResourceId == "hdrTitle").FirstOrDefault().Value.ToString()</th>
                                <th style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "spnReadingDate").FirstOrDefault().Value.ToString()</th>
                                <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnAmount").FirstOrDefault().Value.ToString()</th>
                                <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnUnitCost").FirstOrDefault().Value.ToString()</th>
                                <th style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnTotalCost").FirstOrDefault().Value.ToString()</th>
                                <th style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="fleetFuelModalpopup" class="modal fade" role="dialog">
    <div class="modal-dialog" id="FleetFuelPopup">
    </div>
</div>
@Html.Partial("~/Views/FleetFuel/_FleetFuelEquipmentPopup.cshtml")

@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div id="searcharea" class="slideToggleBar" style="display:none">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="fleetfuelsearctxtbox">
            </div>
        </div>
    </div>
}
else
{
    <div id="searcharea" class="slideToggleBar" style="display:none;left:81px !important;">
        <div class="searchBoxArea">
            <div class="form-group" style="margin-bottom:0; position:relative;">
                <i class="fa fa-search" style="font-size: 1.1rem;position: absolute;top: 8px;left: 0px;"></i>
                <input type="text" class="form-control searched" placeholder="Search for a view" id="fleetfuelsearctxtbox">
            </div>
        </div>
    </div>
}
@Html.Partial("_Export")

@Html.Partial("_FleetFuelAdvancedSearch")
<style>
    #popupExport button#liCsv, #popupExport button#liExcel { display: none; }
    #popupExport { right: 30px !important;}
    .modal-open { overflow: hidden !important; }
    @@media only screen and (max-width: 767px) and (min-width: 640px) {
        .actionBar div.pull-left { width:auto; }
        .actionBar div.pull-right { width:auto; float: right; margin-top: 0; }
    }
    @@media only screen and (max-width: 639px) and (min-width: 568px) {
        .actionBar div.pull-right { float: right; margin-top: 0; }
    }
    @@media screen and (max-width: 479px) {
        #shortDrop { margin-top: 0; margin-right: 0 !important; }
    }
    @@media only screen and (max-width: 359px) and (min-width: 320px) {
        #btnsortmenu { width: 170px; }
    }
</style>


