@model Client.Models.Configuration.UserManagement.UserManagementVM

<div class="m-subheader">
    <div class="new-m-subheader">
        <div class="PageTitle">
            <div class="align-items-center separator">
                <h3 class="m-subheader__title ">
                    @Model.Loc.Where(a => a.ResourceId == "Contacts").FirstOrDefault().Value.ToString()
                </h3>
            </div>
        </div>

        <div class="NewBreadcrumbArea">
            <div class="newBreadcrumb">
                <ul>
                    <li><a href="/Configuration/Dashboard">&nbsp;</a></li>
                    <li><a href="/UserManagement/Index?page=User_Management">@Model.Loc.Where(a => a.ResourceId == "UserManagementSearch").FirstOrDefault().Value.ToString()</a></li>
                    <li><a href="javascript:void(0)" id="brdumcontact" data-val="@Model.userManagementContactModel.UserInfoId">@Model.userManagementContactModel.ClientLookupId</a></li>
                    @if (Model.userManagementContactModel.ContactId != 0)
                    {
                        <li class="active">@Model.Loc.Where(a => a.ResourceId == "UserUpdateContact").FirstOrDefault().Value.ToString()</li>
                    }
                    else
                    {
                        <li class="active">@Model.Loc.Where(a => a.ResourceId == "UserAddContact").FirstOrDefault().Value.ToString()</li>
                    }
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
@Html.Partial("_ErrorDiv")
@using (Ajax.BeginForm("SaveUmContacts", "UserManagement", new AjaxOptions { HttpMethod = "Post", OnSuccess = "UmContactAddOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }, new { id = "frmcontactadd" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet newPort" id="m_portlet" style="padding:15px;">
                <div class="bottomBlock">
                    <div class="tabsArea nobg">
                        <ul class="listView nobrd">
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString() : <small>*</small></span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.userManagementContactModel.Name, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Name, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "Address1").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Address1, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "Address2").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Address2, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "Address3").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Address3, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "City").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.AddressCity, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "Country").FirstOrDefault().Value.ToString(): </span>
                                <span class="inputText">
                                    @Html.DropDownListFor(m => m.userManagementContactModel.AddressCountry, Model.userManagementContactModel.CountryList, "--Select--", new { @class = "form-control search select2picker", id = "AddressCountry", style = "width:100%;" })
                                </span>
                            </li>
                            <li id="listateddl" style="display:none">
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "State").FirstOrDefault().Value.ToString(): </span>
                                <span class="inputText">
                                    @Html.DropDownListFor(m => m.userManagementContactModel.AddressStateForUSA, Model.userManagementContactModel.StateList, "--Select--", new { @class = "form-control search select2picker", id = "txtAddressState", style = "width:100%;" })
                                </span>
                            </li>
                            <li id="listatetext">
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "State").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText" id="test">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.AddressStateForOther, new { @class = "form-control search", autocomplete = "off", id = "cmbAddressState" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "PostalCode").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.userManagementContactModel.AddressPostCode, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.userManagementContactModel.AddressPostCode, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "UserOffice").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Phone1, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "UserMobile").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Phone2, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "UserFax").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Phone3, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "UserEmail1").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.userManagementContactModel.Email1, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Email1, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                            <li>
                                <span class="label">@Model.Loc.Where(a => a.ResourceId == "UserEmail2").FirstOrDefault().Value.ToString() :</span>
                                <span class="inputText">
                                    @Html.ValidationMessageFor(m => m.userManagementContactModel.Email2, "", new { style = "display:none" })
                                    @Html.TextBoxFor(m => m.userManagementContactModel.Email2, new { @class = "form-control search", autocomplete = "off" })
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="bttn_pagin">
                        <div class="bttns2">
                            <button type="submit" class="btn btn-blue mobBttn"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                        </div>
                        <div class="bttns"><button type="button" class="btn btn-blue mobBttn" id="btncontactcancel"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button></div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.userManagementContactModel.UserInfoId)
    @Html.HiddenFor(m => m.userManagementContactModel.ContactId)
    @Html.HiddenFor(m => m.userManagementContactModel.UpdateIndex)
    @Html.HiddenFor(m => m.userManagementContactModel.PersonnelId)
    @Html.HiddenFor(m => m.userManagementContactModel.OwnerId)
    @Html.HiddenFor(m => m.userManagementContactModel.OwnerName)
    @Html.HiddenFor(m => m.userManagementContactModel.ObjectId)
}
