@model Client.Models.StoreroomTransfer.StoreroomTransferVM

<link href="~/Scripts/Metronic/assets/demo/default/base/style_newCustom.css" rel="stylesheet" />

@if (Convert.ToString(Session["MenuState"]) == "" || Convert.ToString(Session["MenuState"]) == "open")
{
    <div class="m-subheader fixedDiv1">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" style="padding:0;">
                        <span style="line-height:35px;" id="partsearchtitle">
                            @Model.Loc.Where(a => a.ResourceId == "spnStoreroomTransfers").FirstOrDefault().Value.ToString()
                        </span>
                    </h3>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
else
{
    <div class="m-subheader fixedDiv1 fixupperpannel2">
        <div class="new-m-subheader">
            <div class="PageTitle">
                <div class="align-items-center">
                    <h3 class="m-subheader__title" style="padding:0;">
                        <span style="line-height:35px;" id="partsearchtitle">
                            @Model.Loc.Where(a => a.ResourceId == "spnStoreroomTransfers").FirstOrDefault().Value.ToString()
                        </span>
                    </h3>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
}
<div class="pushDiv1"></div>
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet" id="m_portlet" style="padding:15px;">
            <div class="tab" style="margin-bottom:10px;">
                <button class="tablinks" id="idIncomingTransfer">@Model.Loc.Where(a => a.ResourceId == "spnIncomingTransfers").FirstOrDefault().Value.ToString()</button>
                <button class="tablinks active" id="idOutgoingTransfer">@Model.Loc.Where(a => a.ResourceId == "spnOutgoingTransfers").FirstOrDefault().Value.ToString()</button>
            </div>
            <div class="actionBar" style="display:block" id="lsGridAction">
                <div class="pull-left" style="position:relative;">
                    <div class="scheduledBlock" style="display:none">
                        <label>@Model.Loc.Where(a => a.ResourceId == "spnStoreroom").FirstOrDefault().Value.ToString() :</label>
                        @Html.DropDownListFor(m => m.StoreroomTransferModel.StoreroomId, Model.StoreroomList, new { @class = "form-control search adv-item select2picker", @id = "StoreroomId" })
                    </div>

                    <button type="button" class="btn btn-white navbar-btn" style="display:none;" title="Search" id="SrchBttnNew"><i class="fa fa-search" style="font-size: 1.1rem;position: relative;top: -2px;left: -2px;"></i>  @Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
                    <div class="searchBttnDrop desktop" id="searchBttnNewDrop" style="display:none;width:355px !important; margin-left:-325px;">
                        <div class="form-group" style="position:relative;">
                            <i class="fa fa-search txtSearchClick" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
                            <a href="javascript:void(0)" id="cancelText"><i class="fa fa-close" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
                            <input type="text" id="txtColumnSearch" class="form-control search" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
                        </div>
                        <div class="searchTips">
                            <div class="titleText">@Model.Loc.Where(a => a.ResourceId == "spnSearchTips").FirstOrDefault().Value.ToString()</div>
                            <div class="infoText">@Model.Loc.Where(a => a.ResourceId == "StoreroomTransferSearchTips").FirstOrDefault().Value.ToString()</div>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="searchInfo">
                            <span class="recent">
                                @Model.Loc.Where(a => a.ResourceId == "GlobalRecentlySearched").FirstOrDefault().Value.ToString()
                            </span>
                            <div class="searchList" id="wosearchList">
                                <ul id="UlSearchList"></ul>
                            </div>
                            <span class="clear">
                                <a href="javascript:void(0)" id="clearText">
                                    @Model.Loc.Where(a => a.ResourceId == "globalClear").FirstOrDefault().Value.ToString()
                                </a>
                            </span>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div style="clear:both;"></div>
                </div>

                <div style="clear:both;"></div>
                <div id="advsearchfilteritems"></div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>

            <div id="Active" class="tabcontent" style="display:block;">
                <div class="table-responsive">
                    <table id="StoreroomTransferOutgoingSearchTable" class="eqpDtlTbl row-border custom-sort tblMain" style="width:100%;">
                        <thead>
                            <tr>
                                <th data-col="1" data-th-index="0" data-th-prop="PartId">@Model.Loc.Where(a => a.ResourceId == "spnPartID").FirstOrDefault().Value.ToString()</th>
                                <th data-col="2" data-th-index="1" data-th-prop="Description">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString()</th>
                                <th data-col="3" data-th-index="2" data-th-prop="QuantityIssued" style="text-align:right !important;">@Model.Loc.Where(a => a.ResourceId == "spnTotalRequested").FirstOrDefault().Value.ToString()</th>
                                <th data-col="4" data-th-index="3" data-th-prop="Type" style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "spnIssueQty").FirstOrDefault().Value.ToString()</th>
                                <th data-col="5" data-th-index="4" data-th-prop="Status" style="text-align:left !important;">@Model.Loc.Where(a => a.ResourceId == "GlobalStatus").FirstOrDefault().Value.ToString()</th>
                                <th data-col="6" data-th-index="5" style="text-align:right !important;" data-th-prop="QuantityReceived">@Model.Loc.Where(a => a.ResourceId == "spnTotalIssued").FirstOrDefault().Value.ToString()</th>
                                <th data-col="7" data-th-index="6" data-th-prop="StoreoomName" style="text-align:left !important;">@Model.Loc.Where(a => a.ResourceId == "spnToStoreroom").FirstOrDefault().Value.ToString()</th>
                                <th data-col="8" data-th-index="7" data-th-prop="Action" width="17%" style="text-align:center !important;">@Model.Loc.Where(a => a.ResourceId == "globalAction").FirstOrDefault().Value.ToString()</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div id="ActiveCard" class="tabcontent" style="display:none;"></div>
            <div class="idBttns">
                <div class="bttn_pagin">
                    <div class="bttns2">
                        <button type="button" class="btn btn-blue mobBttn" id="btnProcess" style="display:none"><i class="fa fa-check faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "spnProcessIssues").FirstOrDefault().Value.ToString()</button>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    @@media (max-width: 600px) {
        .fc-toolbar.fc-header-toolbar .fc-left button,.fc-toolbar.fc-header-toolbar .fc-right button {
            margin: 5px 0px;
        }

    }

</style>
