
@model Client.Models.PreventiveMaintenance.PrevMaintVM
@using (Ajax.BeginForm("AddOrUpdateInstructions", "PreventiveMaintenance", new AjaxOptions { HttpMethod = "Post", OnSuccess = "PMInstructionsOnSuccess", OnBegin = "AjaxBeginFormBegin", OnComplete = "AjaxBeginFormComplete", OnFailure = "AjaxBeginFormFaillure" }))
{
    @Html.AntiForgeryToken()
    <!--New Implement Modal Start-->
    <div id="pminstructmodal" class="modal fade" role="dialog" style="padding-right:0px !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close InstructionCancel" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Model.Loc.Where(a => a.ResourceId == "spnAddInstructions").FirstOrDefault().Value.ToString()</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom:0;">
                        <main style="margin-bottom:10px;">
                            <div class="mydocument-editor myckeditorfield" style="padding-right:0px !important;">
                                <div class="mytoolbar-container"></div>
                                <div class="mycontent-container form-control">
                                    <div id="prevmainttxtinstructions"></div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="InstructionCancel" class="btn btn-blue mobBttn InstructionCancel" style="float:left; margin:0 !important;" data-dismiss="modal"><i class="fa fa-close faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                    @if (Model.security.PrevMaint.Edit)
                    {
                        <button type="submit" id="btnsaveinstruction" class="btn btn-blue mobBttn" style="float:right; margin:0 !important;"><i class="fa fa-save faIcon"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSave").FirstOrDefault().Value.ToString()</button>
                    }
                        <div style="clear:both;"></div>
                    </div>

            </div>            
            @Html.HiddenFor(m => m.InstructionPMModel.InstructionId, new { id = "hiddenInstructionId" })
            @Html.HiddenFor(m => m.InstructionPMModel.ObjectId, new { Value = Model.preventiveMaintenanceModel.PrevMaintMasterId })
            @Html.HiddenFor(m => m.InstructionPMModel.Content, new { id= "InstructionContent" })
        </div>
    </div>
    <!--New Implement Modal End-->
}

    <style type="text/css">
        .ui-tooltip {
            z-index: 1151 !important;
        }

        .errormessage {
            margin-bottom: 1px !important;
        }

        .modal-header, .modal .modal-content .modal-body {
            display: block;
            padding: 15px !important;
        }

        .modal .modal-content .modal-footer {
            display: block;
            padding: 15px !important;
        }
    </style>





