@model Client.Models.PreventiveMaintenance.PrevMaintVM
<nav id="sidebar">
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>

    <div class="sidebar-header">
        <h3><i class="fa fa-filter" style="position: relative; top: -2px;"></i> @Model.Loc.Where(a => a.ResourceId == "spnFilters").FirstOrDefault().Value.ToString() <span class="filteritemcount">0</span></h3>
        <button type="button" class="btn btn-blue filterSearch" id="btnPMSDataAdvSrch"><i class="fa fa-search" style="margin-top:-3px;"></i> &nbsp; @Model.Loc.Where(a => a.ResourceId == "globalSearch").FirstOrDefault().Value.ToString()</button>
    </div>
    <div class="sidebar-content" id="advsearchsidebarPMScheduleReassign">

        <div class="form-group">
            <label for="PMSAssignedTo">@Model.Loc.Where(a => a.ResourceId == "spnAssignedTo").FirstOrDefault().Value.ToString() :</label>
            <input type="text" class="form-control search adv-item" autocomplete="off"  id="PMSAssignedTo">
        </div>
        <div class="form-group">
            <label for="PMSPMID">@Model.Loc.Where(a => a.ResourceId == "spnPMID").FirstOrDefault().Value.ToString() :</label>
            <input type="text" class="form-control search adv-item" autocomplete="off" id="PMSPMID">
        </div>
        <div class="form-group">
            <label for="PMSDescripton">@Model.Loc.Where(a => a.ResourceId == "spnDescription").FirstOrDefault().Value.ToString() :</label>
            <input type="text" class="form-control search adv-item" autocomplete="off" id="PMSDescripton">
        </div>
        <div class="form-group">
            <label for="PMSChargeTo">@Model.Loc.Where(a => a.ResourceId == "GlobalChargeTo").FirstOrDefault().Value.ToString() :</label>
            <input type="text" class="form-control search adv-item" autocomplete="off" id="PMSChargeTo">
        </div>
        <div class="form-group">
            <label for="PMSChargeToName">@Model.Loc.Where(a => a.ResourceId == "spnChargeToName").FirstOrDefault().Value.ToString() :</label>
            <input type="text" class="form-control search adv-item" autocomplete="off" id="PMSChargeToName">
        </div>
        <div class="form-group">
            <label for="PMSNextDue"> @Model.Loc.Where(a => a.ResourceId == "spnNextDue").FirstOrDefault().Value.ToString() :</label>
            <input type="text" class="form-control search dtpicker adv-item" autocomplete="off" id="PMSNextDue">
        </div>
        
    </div>
</nav>


